src/templates/en/epic/points.pug
doctype html
html(lang="es")
    title Refreshment points 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerEN.pug
        main(role="main")
            .u-bgRed
            .container.py-5
                .row
                    .col-sm-3
                        h3.u-title Refreshment points
                    .col-sm-9
                        p.tex-justiy Participants will have 8 refreshment stations including the Finish Line, in which the control points of forced passage are found. At the refreshment stations, the following will be available:
                            ul: li Parking area 
                                li Shower area
                                li Solid / liquid refreshment (for participants) 
                                li Time control zone and control point
                        .row.py-4
                            .col-sm-12
                                ul.list-unstyled
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon1.svg" alt="icon7")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseForcarei" aria-expanded="false" aria-controls="collapseForcarei"): h5.mt-0.mb-1 Soutelo de Montes (Forcarei)
                                            .collapse#collapseForcarei
                                                p.text-justify Forcarei occupies, in the north-central area of the province of Pontevedra, a total area of 167.7 km, with an average altitude of 625m, indicative of a remarkably hilly area.
                                                p.text-justify In this mountain range the sources that give origin to the river Lerez are born: fonte do Rego Dedra, fonte do Pao Dereito, fonte do Rego das Latas and fonte do Forno Telleiro.
                                                p.text-justify In Soutelo De Montes are the modernist palace and the Ethnographic Center of Terra De Montes, and for hiking lovers is the path of the mule drivers from Vilapouca to Ventoxo along the banks of the Pontenova River.
                                                p.text-justify Also remarkable are the neveiras (ancient fridges) of Fixó and the monastery of Aciveiro in Forcarei.
                                                a.Point-url(href="http://www.Forcarei.org"): i.fa.fa-link(aria-hidden="true"): span http://www.Forcarei.org

                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon2.svg" alt="icon6")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseCruces" aria-expanded="false" aria-controls="collapseCruces"): h5.mt-0.mb-1 Vila de Cruces
                                            .collapse#collapseCruces
                                                p.text-justify The town of Vila de Cruces is located on the north limit of the province of Pontevedra, and has a population of 5435 inhabitants.
                                                p.text-justify The town is surrounded by the three main rivers of the Deza region; the Ulla, the Deza and the Arnego.
                                                p.text-justify The star product of the gastronomy of Vila de Cruces is the Gallo de Corral (free range rooster), around which an important gastronomic festival declared of Galician Tourist Interest is celebrated.
                                                p.text-justify Other gastronomic festivals are also held, such as the Chestnut Festival in November or the Chorizo Festival in February, all of them with free tasting of local products.
                                                p.text-justify In August the Carretillas Rally, a sports and cultural show based on the wheelbarrows, is celebrated. This curious rally is celebrated within the Cultural Week organized annually by the cultural association Miolos de Fume.
                                                a.Point-url(href="http://www.viladecruces.gal"): i.fa.fa-link(aria-hidden="true"): span http://www.viladecruces.gal
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon3.svg" alt="icon5")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseMorana" aria-expanded="false" aria-controls="collapseMorana"): h5.mt-0.mb-1 Moraña
                                            .collapse#collapseMorana
                                                p.text-justify The town of Moraña is located north of the province of Pontevedra and has a population of 4,434 inhabitants.
                                                p.text-justify In this town is the menhir of Gargantáns, a neolithic megalithic monument with engravings on both sides that can be dated between 3000-2000 BC and measures 192 cm in height and 50 cm in diameter.
                                                p.text-justify The town of Moraña has two beautiful churches built in the 12th century, San Martín de Gargantáns and San Pedro de Rebón.
                                                p.text-justify In the parish of Amil is the sanctuary of Nuestra Señora de los Milagros. In the same parish stands out the remarkable architectonic ensemble formed by the parochial, baroque church of the 18th century, and the rector's house, attached to a medieval tower.
                                                p.text-justify The parish of Santa Justa, in which an important pilgrimage is celebrated in honor of this saint, has the best oakwood of the whole municipality, both for its extension and for the 400 oaks that compose it. Next to the parish church there is a fountain dating from the early years of the 16th century.
                                                p.text-justify There are other oakwoods in Moraña, such as Santa Lucia, in the capital of the town, where the gastronomic feast of "Carneiro ao espeto" (roasted mutton) is celebrated.

                                                p.text-justify Highlights in Moraña the Romería de los Milagros de Amil, one of the most important pilgrimages in Galicia, which is celebrated on September 8 and where thousands of pilgrims come to. In this pilgrimage the Virgin carries her cloak covered with the bills that the faithful have offered her.
                                                p.text-justify It is worth mentioning the "Carneiro ao espeto" Festival, currently declared a Festival of Tourist Interest in Galicia and also the "Porquiño a brasa" (roasted pork) Festival. This festival is celebrated in the parish of Amil at the end of August, in the Carballeira de los Milagros.
                                                p.text-justify Also notable is the "Rapa das bestas" in Amil. On that day, the horses, which live all year free in the mountains are cornered and driven to the "curro", located in the place known as Pastizal. Here the beasts are separated to mark them and to shave their mane, becoming a true wrestle of man and horse.
                                                a.Point-url(href="http://www.morana.org"): i.fa.fa-link(aria-hidden="true"): span http://www.morana.org

                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon4.svg" alt="icon1")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapsePontevedra" aria-expanded="false" aria-controls="collapsePontevedra"): h5.mt-0.mb-1 Pontevedra
                                            .collapse#collapsePontevedra
                                                p.text-justify Pontevedra is the capital of the province and capital of the Rías Baixas. The Lerez River crosses the city and for this reason it is also known as the "City of Lerez" and also as "Boa Vila". It is an administrative, monumental, touristic and service city, with a population of 82549 inhabitants.
                                                p.text-justify In November 2014 it was awarded with the UN-Habitat World Award, given in Dubai (United Arab Emirates), which recognizes it as one of the most comfortable European cities to live, especially in terms of urban quality, mobility and accessibility. In 2015, the Urban Excellence Award of the Center for Active Design in New York City and the City of Smart Mobility Euro-China 2015 prize awarded in Hong Kong, among others, were granted for the same reason.
                                                p.text-justify It has the most important historical center of Galicia, along with that of Santiago de Compostela. The old town was declared a Historic-Artistic Complex in 1951 and has been described by the English newspaper The Guardian as "a magnificent ancient city".
                                                a.Point-url(href="http://www.pontevedra.gal"): i.fa.fa-link(aria-hidden="true"): span http://www.pontevedra.gal
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon5.svg" alt="icon4")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseLama" aria-expanded="false" aria-controls="collapseLama"): h5.mt-0.mb-1 Pontecaldelas
                                            .collapse#collapseLama
                                                p.text-justify Lama is an interior town in the northwest of the province of Pontevedra, with 2587 inhabitants, located 31 km from Pontevedra and 50 km from Vigo.
                                                p.text-justify The lands of La Lama were inhabited since prehistory, and there are archaeological remains of the megalithic cultures from 4000 to 2000 BC, as the tumuli of Portela da Cruz, O Seixo, O Suído, and in Antas. From the Bronze Age a sword of Argaric type of the year 1500 BC was found in La Lama, and in Verducido and in the Castro de Gaxate several bronze axes. Of this age are the rock engravings in Chan do Campo, Outeiro Seixiño, Val do Gato, and A Laxa das Puzas (Verducido).
                                                p.text-justify Belonging to the Culture of the Castros (forts) there are three identified: Monte do Castro in Gaxate, Monte do Castro in A Lama, and Xende.
                                                p.text-justify The municipality of A Lama belongs to the Natura 2000 network and is considered a natural area of high ecological value at European level on the conservation of natural habitat, wildlife and wild flora.
                                                p.text-justify The Cando mountain range has its highest point in the mountain of Seixo with 900m of altitude.The Suido mountain range is the natural limit with Orense and its highest point is El Coto da Puza, with 1035m high. This mountain has a great ecological value and it is one of the few areas of Galicia where we wolves can still be seen. From the high Suido we can observe the three rías (estuaries): Pontevedra, Vigo and Villagarcía de Arousa. With good weather from the mountain of O Seixo you can see the estuaries of Pontevedra and Vigo.
                                                p.text-justify The most important festivities of A Lama are the Pilgrimage of the Holy Christ of Xende, the Pilgrimage of the Virgin of the Hermits, the feast of the wine of the Pelete and the gastronomic feast of Codillo.
                                                a.Point-url(href="http://www.concellodalama.com"): i.fa.fa-link(aria-hidden="true"): span http://www.concellodalama.com
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon6.svg" alt="icon3")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseTui" aria-expanded="false" aria-controls="collapseTui"): h5.mt-0.mb-1 Tui
                                            .collapse#collapseTui
                                                p.text-justify Tui is a town of 17,000 inhabitants, located in the eastern part of the district of Bajo Miño, in the province of Pontevedra. Since February 10, 2012, together with the city of Valença do Minho (Portugal), they form a euro-city as a sign of cooperation and integration between the two cities separated only by two bridges that cross the river Miño. One of these two bridges is the Tui International Bridge founded in 1886.
                                                p.text-justify Tui has an important historical heritage, such as the Cathedral of Santa María de Tui, one of the most important cathedrals in Galicia. It is also worth noting the Diocesan Museum and Historical Archive, which was an old hospital for the poor and pilgrims, built in 1756; the Convent and Church of the Clarisses, which were founded in the year 1524; the Tunnel of the Clarisse Nuns, which is at the end of the street that leads to the convent of the Clarisses, constituting one of the most typical corners of Tui; and the Church of San Francisco, equipped with a public library.
                                                p.text-justify The Fluvial Walk of Tui, between the river and the old medieval wall, offers an ideal natural space to enjoy nature.
                                                p.text-justify As a natural heritage, Tui has Monte Aloia, which is a summit located in the Galiñeiro mountain range and declared a natural park in 1978, with an area of 746 hectares and the highest point located at 629 meters of altitude (high of San Julián ).
                                                p.text-justify It is worth noting the San Telmo Patron Saint Festivities that begin on Holy Saturday and last all week until Monday of San Telmo (Monday after Easter).
                                                a.Point-url(href="http://www.concellotui.org"): i.fa.fa-link(aria-hidden="true"): span http://www.concellotui.org
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon7.svg" alt="icon2")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseRedondela" aria-expanded="false" aria-controls="collapseRedondela"): h5.mt-0.mb-1 Redondela
                                            .collapse#collapseRedondela                                
                                                p.text-justify Redondela is a town located in the province of Pontevedra and integrated into the Metropolitan Area of Vigo. It has 7376 inhabitants in the urban center and it is 13 km from Vigo, 20 from Pontevedra and very close to Peinador Airport.
                                                p.text-justify It has two train viaducts, declared of Cultural Interest in 1978, that cross Redondela, the two lines of the "Camino de Ferro" are: that of Ourense and that of Pontevedra, which runs along the coast.
                                                p.text-justify Redondela has numerous archaeological sites, being the oldest in 3000 BC. An important fort is located about 336 meters above sea level, known as "Coto do Castro".
                                                p.text-justify It is also worth noting certain places of interest such as the Island of San Simón, the cove of San Simón and the bridge of Rande.
                                                p.text-justify Redondela has several festivities, among which stand out: the Fiesta de la Coca, which takes place on the day of Corpus Christi, was declared a Festival of Galician Tourist Interest in 2001, and the Fiesta del Choco, a gastronomic festival celebrated in May and also declared a Festival of Galician Tourist Interest.
                                                a.Point-url(href="http://www.redondela.es"): i.fa.fa-link(aria-hidden="true"): span http://www.redondela.es
            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug

dist/en/epic/points.html
<!DOCTYPE html><html lang="es"><title>Refreshment points </title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 15 de febrero de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="halfindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race individual</button></a></div><div class="col-sm-6"><a href="halfequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="halfequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="halfequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-half-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-half-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-half-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-half-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="index.html"><img src="../../../assets/files/img/logo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Race</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categories.html">Categories</a><a class="dropdown-item" href="rates.html">Rates</a><a class="dropdown-item" href="points.html">Refreshment points</a></div></li><li class="nav-item"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" href="#collapseStages" data-toggle="collapse" aria-expanded="false" aria-controls="collapseStages">Stages</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participants</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="../../assets/files/pdf/informacion-epic.pdf">Información</a><a class="dropdown-item" href="../../assets/files/pdf/ficha-medica.pdf">Ficha médica</a><a class="dropdown-item" href="../../assets/files/pdf/mapa-epic.pdf">Mapa </a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="regulations.html">Regulations</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Multimedia</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item disabled" href="">Photos</a><a class="dropdown-item disabled" href="">Video</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Globaldxt Races</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5)">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Firendly Races</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://www.avaibooksports.com/inscripcion/participantes.php?id=8096"><button class="btn Button--inscripted my-2 my-sm-0" type="submit">Inscribed</button></a><a class="color-link" href="https://www.avaibooksports.com/inscripcion/inscripcion_datos.php?id=8096&amp;lang=es" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit"> Inscription</button></a></div></nav><!-- Stages section--><section class="Stages bg-faded"><div class="collapse" id="collapseStages"><div class="container"><div class="row"></div><div class="row py-3"><div class="col-sm-3"><a class="Figure-link" href="stage1.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage5.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 1</h4><p class="Figure-text m-0">(Pontevedra) - Moraña</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage2.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage6.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 2</h4><p class="Figure-text m-0">Moraña - Vila de Cruces</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage3.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage7.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 3</h4><p class="Figure-text m-0">Vila de Cruces - Meis</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage4.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage8.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 4</h4><p class="Figure-text m-0">Meis - Pontevedra</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div></div><div class="row py-3"><div class="col-sm-3"><a class="Figure-link" href="stage5.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage1.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 5</h4><p class="Figure-text m-0">Pontevedra - Ponte Caldelas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage6.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage2.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 6</h4><p class="Figure-text m-0">Ponte Caldelas - Ponteareas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage7.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage3.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 7</h4><p class="Figure-text m-0">Ponteareas - Redondela</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage8.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage4.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 8</h4><p class="Figure-text m-0">Redondela - (Pontevedra)</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div></div></div></div></section></header><main role="main"><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-3"><h3 class="u-title">Refreshment points</h3></div><div class="col-sm-9"><p class="tex-justiy">Participants will have 8 refreshment stations including the Finish Line, in which the control points of forced passage are found. At the refreshment stations, the following will be available:<ul><li>Parking area <li>Shower area</li><li>Solid / liquid refreshment (for participants) </li><li>Time control zone and control point</li></li></ul></p><div class="row py-4"><div class="col-sm-12"><ul class="list-unstyled"><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon1.svg" alt="icon7"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseForcarei" aria-expanded="false" aria-controls="collapseForcarei"><h5 class="mt-0 mb-1">Soutelo de Montes (Forcarei)</h5></a><div class="collapse" id="collapseForcarei"><p class="text-justify">Forcarei occupies, in the north-central area of the province of Pontevedra, a total area of 167.7 km, with an average altitude of 625m, indicative of a remarkably hilly area.</p><p class="text-justify">In this mountain range the sources that give origin to the river Lerez are born: fonte do Rego Dedra, fonte do Pao Dereito, fonte do Rego das Latas and fonte do Forno Telleiro.</p><p class="text-justify">In Soutelo De Montes are the modernist palace and the Ethnographic Center of Terra De Montes, and for hiking lovers is the path of the mule drivers from Vilapouca to Ventoxo along the banks of the Pontenova River.</p><p class="text-justify">Also remarkable are the neveiras (ancient fridges) of Fixó and the monastery of Aciveiro in Forcarei.</p><a class="Point-url" href="http://www.Forcarei.org"><i class="fa fa-link" aria-hidden="true"><span>http://www.Forcarei.org</span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon2.svg" alt="icon6"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseCruces" aria-expanded="false" aria-controls="collapseCruces"><h5 class="mt-0 mb-1">Vila de Cruces</h5></a><div class="collapse" id="collapseCruces"><p class="text-justify">The town of Vila de Cruces is located on the north limit of the province of Pontevedra, and has a population of 5435 inhabitants.</p><p class="text-justify">The town is surrounded by the three main rivers of the Deza region; the Ulla, the Deza and the Arnego.</p><p class="text-justify">The star product of the gastronomy of Vila de Cruces is the Gallo de Corral (free range rooster), around which an important gastronomic festival declared of Galician Tourist Interest is celebrated.</p><p class="text-justify">Other gastronomic festivals are also held, such as the Chestnut Festival in November or the Chorizo Festival in February, all of them with free tasting of local products.</p><p class="text-justify">In August the Carretillas Rally, a sports and cultural show based on the wheelbarrows, is celebrated. This curious rally is celebrated within the Cultural Week organized annually by the cultural association Miolos de Fume.</p><a class="Point-url" href="http://www.viladecruces.gal"><i class="fa fa-link" aria-hidden="true"><span>http://www.viladecruces.gal</span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon3.svg" alt="icon5"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseMorana" aria-expanded="false" aria-controls="collapseMorana"><h5 class="mt-0 mb-1">Moraña</h5></a><div class="collapse" id="collapseMorana"><p class="text-justify">The town of Moraña is located north of the province of Pontevedra and has a population of 4,434 inhabitants.</p><p class="text-justify">In this town is the menhir of Gargantáns, a neolithic megalithic monument with engravings on both sides that can be dated between 3000-2000 BC and measures 192 cm in height and 50 cm in diameter.</p><p class="text-justify">The town of Moraña has two beautiful churches built in the 12th century, San Martín de Gargantáns and San Pedro de Rebón.</p><p class="text-justify">In the parish of Amil is the sanctuary of Nuestra Señora de los Milagros. In the same parish stands out the remarkable architectonic ensemble formed by the parochial, baroque church of the 18th century, and the rector's house, attached to a medieval tower.</p><p class="text-justify">The parish of Santa Justa, in which an important pilgrimage is celebrated in honor of this saint, has the best oakwood of the whole municipality, both for its extension and for the 400 oaks that compose it. Next to the parish church there is a fountain dating from the early years of the 16th century.</p><p class="text-justify">There are other oakwoods in Moraña, such as Santa Lucia, in the capital of the town, where the gastronomic feast of "Carneiro ao espeto" (roasted mutton) is celebrated.</p><p class="text-justify">Highlights in Moraña the Romería de los Milagros de Amil, one of the most important pilgrimages in Galicia, which is celebrated on September 8 and where thousands of pilgrims come to. In this pilgrimage the Virgin carries her cloak covered with the bills that the faithful have offered her.</p><p class="text-justify">It is worth mentioning the "Carneiro ao espeto" Festival, currently declared a Festival of Tourist Interest in Galicia and also the "Porquiño a brasa" (roasted pork) Festival. This festival is celebrated in the parish of Amil at the end of August, in the Carballeira de los Milagros.</p><p class="text-justify">Also notable is the "Rapa das bestas" in Amil. On that day, the horses, which live all year free in the mountains are cornered and driven to the "curro", located in the place known as Pastizal. Here the beasts are separated to mark them and to shave their mane, becoming a true wrestle of man and horse.</p><a class="Point-url" href="http://www.morana.org"><i class="fa fa-link" aria-hidden="true"><span>http://www.morana.org</span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon4.svg" alt="icon1"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapsePontevedra" aria-expanded="false" aria-controls="collapsePontevedra"><h5 class="mt-0 mb-1">Pontevedra</h5></a><div class="collapse" id="collapsePontevedra"><p class="text-justify">Pontevedra is the capital of the province and capital of the Rías Baixas. The Lerez River crosses the city and for this reason it is also known as the "City of Lerez" and also as "Boa Vila". It is an administrative, monumental, touristic and service city, with a population of 82549 inhabitants.</p><p class="text-justify">In November 2014 it was awarded with the UN-Habitat World Award, given in Dubai (United Arab Emirates), which recognizes it as one of the most comfortable European cities to live, especially in terms of urban quality, mobility and accessibility. In 2015, the Urban Excellence Award of the Center for Active Design in New York City and the City of Smart Mobility Euro-China 2015 prize awarded in Hong Kong, among others, were granted for the same reason.</p><p class="text-justify">It has the most important historical center of Galicia, along with that of Santiago de Compostela. The old town was declared a Historic-Artistic Complex in 1951 and has been described by the English newspaper The Guardian as "a magnificent ancient city".</p><a class="Point-url" href="http://www.pontevedra.gal"><i class="fa fa-link" aria-hidden="true"><span>http://www.pontevedra.gal</span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon5.svg" alt="icon4"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseLama" aria-expanded="false" aria-controls="collapseLama"><h5 class="mt-0 mb-1">Pontecaldelas</h5></a><div class="collapse" id="collapseLama"><p class="text-justify">Lama is an interior town in the northwest of the province of Pontevedra, with 2587 inhabitants, located 31 km from Pontevedra and 50 km from Vigo.</p><p class="text-justify">The lands of La Lama were inhabited since prehistory, and there are archaeological remains of the megalithic cultures from 4000 to 2000 BC, as the tumuli of Portela da Cruz, O Seixo, O Suído, and in Antas. From the Bronze Age a sword of Argaric type of the year 1500 BC was found in La Lama, and in Verducido and in the Castro de Gaxate several bronze axes. Of this age are the rock engravings in Chan do Campo, Outeiro Seixiño, Val do Gato, and A Laxa das Puzas (Verducido).</p><p class="text-justify">Belonging to the Culture of the Castros (forts) there are three identified: Monte do Castro in Gaxate, Monte do Castro in A Lama, and Xende.</p><p class="text-justify">The municipality of A Lama belongs to the Natura 2000 network and is considered a natural area of high ecological value at European level on the conservation of natural habitat, wildlife and wild flora.</p><p class="text-justify">The Cando mountain range has its highest point in the mountain of Seixo with 900m of altitude.The Suido mountain range is the natural limit with Orense and its highest point is El Coto da Puza, with 1035m high. This mountain has a great ecological value and it is one of the few areas of Galicia where we wolves can still be seen. From the high Suido we can observe the three rías (estuaries): Pontevedra, Vigo and Villagarcía de Arousa. With good weather from the mountain of O Seixo you can see the estuaries of Pontevedra and Vigo.</p><p class="text-justify">The most important festivities of A Lama are the Pilgrimage of the Holy Christ of Xende, the Pilgrimage of the Virgin of the Hermits, the feast of the wine of the Pelete and the gastronomic feast of Codillo.</p><a class="Point-url" href="http://www.concellodalama.com"><i class="fa fa-link" aria-hidden="true"><span>http://www.concellodalama.com</span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon6.svg" alt="icon3"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseTui" aria-expanded="false" aria-controls="collapseTui"><h5 class="mt-0 mb-1">Tui</h5></a><div class="collapse" id="collapseTui"><p class="text-justify">Tui is a town of 17,000 inhabitants, located in the eastern part of the district of Bajo Miño, in the province of Pontevedra. Since February 10, 2012, together with the city of Valença do Minho (Portugal), they form a euro-city as a sign of cooperation and integration between the two cities separated only by two bridges that cross the river Miño. One of these two bridges is the Tui International Bridge founded in 1886.</p><p class="text-justify">Tui has an important historical heritage, such as the Cathedral of Santa María de Tui, one of the most important cathedrals in Galicia. It is also worth noting the Diocesan Museum and Historical Archive, which was an old hospital for the poor and pilgrims, built in 1756; the Convent and Church of the Clarisses, which were founded in the year 1524; the Tunnel of the Clarisse Nuns, which is at the end of the street that leads to the convent of the Clarisses, constituting one of the most typical corners of Tui; and the Church of San Francisco, equipped with a public library.</p><p class="text-justify">The Fluvial Walk of Tui, between the river and the old medieval wall, offers an ideal natural space to enjoy nature.</p><p class="text-justify">As a natural heritage, Tui has Monte Aloia, which is a summit located in the Galiñeiro mountain range and declared a natural park in 1978, with an area of 746 hectares and the highest point located at 629 meters of altitude (high of San Julián ).</p><p class="text-justify">It is worth noting the San Telmo Patron Saint Festivities that begin on Holy Saturday and last all week until Monday of San Telmo (Monday after Easter).</p><a class="Point-url" href="http://www.concellotui.org"><i class="fa fa-link" aria-hidden="true"><span>http://www.concellotui.org</span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon7.svg" alt="icon2"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseRedondela" aria-expanded="false" aria-controls="collapseRedondela"><h5 class="mt-0 mb-1">Redondela</h5></a><div class="collapse" id="collapseRedondela">                               <p class="text-justify">Redondela is a town located in the province of Pontevedra and integrated into the Metropolitan Area of Vigo. It has 7376 inhabitants in the urban center and it is 13 km from Vigo, 20 from Pontevedra and very close to Peinador Airport.</p><p class="text-justify">It has two train viaducts, declared of Cultural Interest in 1978, that cross Redondela, the two lines of the "Camino de Ferro" are: that of Ourense and that of Pontevedra, which runs along the coast.</p><p class="text-justify">Redondela has numerous archaeological sites, being the oldest in 3000 BC. An important fort is located about 336 meters above sea level, known as "Coto do Castro".</p><p class="text-justify">It is also worth noting certain places of interest such as the Island of San Simón, the cove of San Simón and the bridge of Rande.</p><p class="text-justify">Redondela has several festivities, among which stand out: the Fiesta de la Coca, which takes place on the day of Corpus Christi, was declared a Festival of Galician Tourist Interest in 2001, and the Fiesta del Choco, a gastronomic festival celebrated in May and also declared a Festival of Galician Tourist Interest.</p><a class="Point-url" href="http://www.redondela.es"><i class="fa fa-link" aria-hidden="true"><span>http://www.redondela.es</span></i></a></div></div></li></ul></div></div></div></div></div><section class="IndexPromo py-5 mb-5"><div class="container"><div class="row align-items-center"><div class="col-sm-8"><div class="IndexPromo-text"><h3 class="IndexPromo-title mx-2">Join the challenge</h3><h4 class="IndexPromo-subtitle mx-2">Registration opened from December 1</h4></div></div></div></div></section><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-6 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left text-right"><h3 class="Turn-title">Epic Race</h3><a href="../epic"><button class="btn Button--turn" type="button">More info</button></a></div></div><div class="col-sm-6 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Half Epic Race</h3><a href="../half"><button class="btn Button--turn" type="button">More info</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-2 text-center"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-md-2 text-center"><a href="http://deportepo.blogspot.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/concelleria.svg" alt="Concelleria de deportes"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.mos.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mos.svg" alt="Mos"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/portas.svg" alt="Portas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://concellodemondariz.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mondariz.svg" alt="Mondariz"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://concellodalama.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/alama.svg" alt="A Lama"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>
