src/templates/en/epic/stage3.pug
doctype html
html(lang="es")
    title Stage 3 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerEN.pug
        main(role="main")
            .carousel.slide#CarouselStage7(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage7" data-slide-to="0").active
                    li(data-target="#CarouselStage7" data-slide-to="1")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage7-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage7-item2
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage7" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage7" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Stage 3
                        h5.Stage-subtitle.mb-4 Vila de Cruces - Meis
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distance
                            span.pl-2 77km
                            p.mb-0.mt-2.d-block Elevation gain uphill
                            span.pl-2 1700m
                            p.mb-0.mt-2.d-block Elevation gain downhill
                            span.pl-2 2100m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify The summits of the North
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level3.jpg")
                        p.text-justify A very rolling stage, in wich is very important to care our legs, because, even though it hardly has technical areas or big ramps, along its 77 kms it has some up-down areas that can deceive ourselves if we are not conservative.

                        p.text-justify We leave Vila de Cruces going up a road to start then to alternate dirt tracks with asphalt lanes, reaching the pass through River Deza over a metal footbridge. At this point we must push our bikes along a 150 mts stretch, because the path has some stepped areas.

                        p.text-justify Once we leave behind this path, we reach the base of the amazing waterfall of River Toxa, that, with its 60 mts of fall height, is one of the most spectacular waterfalls in Galicia.

                        p.text-justify We go on along farming paths and forest tracks, through villages and usually in ascent but without big slopes, to reach the maximum height of the stage (570 mts), in the North area of LIC Brañas de Xestoso.

                        p.text-justify We will face now a very funny descent of almost 9 kilometres where we will go along forest tracks, farming lanes and traditional paths surrounded by villages, creeks, little waterfalls, ancient water mills, petroglyphs, Celts fortifications, chapels and churches dated from the romanesque period to the galician neoclassicism.

                        p.text-justify We are submerged now into a time machine, that drives us along millenia through an amazing and wild landscape that people from these lands have domesticated for centuries.

                        p.text-justify In the 35th kilometre we start the ascent again, 9 kms of soft and comfortable climb that will take us to Mount Cabalar foothills. We are, little by little, gaining height over a valley that extends to the North, beyond the River Ulla, frontier with A Coruña province, giving us an immense horizon, below of which we can see the glitter of many rural cores.

                        p.text-justify Once we have reached the height of 510 mts, we start again a long descent that drives us to River Umia riverbanks, crossing the river passing through its magnificent riparian lands, watered by many rivers and among dense forests.

                        p.text-justify We arrive then, not before climbing some ascent stretches, without big ramps, to Lugar A Barosa, an spectacular area with water mills and waterfalls. We are now in the 66th km, and there are hardly 200 mts more of ascent left to reach our finish in Meis council, that settled in a privileged environment, it is a mosaic of landscapes including crop plains where the “gold” of these lands grows,  the  Alvariño  wine,  and  also  the  mountains  that  represent  amazing  viewpoints  over the famous galician estuaries.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-3-epic-race-2019-vila-de-cruces-meis-36715733") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa2.html'): button.btn.Button--stages Previous stage
                            .col-sm-6.text-right
                                a(href='etapa4.html'): button.btn.Button--stages Next stage
            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug

dist/en/half/stage3.html
<!DOCTYPE html><html lang="es"><title>Etapa 3 </title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 15 de febrero de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="halfindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race individual</button></a></div><div class="col-sm-6"><a href="halfequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="halfequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="halfequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-half-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-half-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-half-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-half-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="index.html"><img src="../../../assets/files/img/logo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Race</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categories.html">Categories</a><a class="dropdown-item" href="rates.html">Rates</a><a class="dropdown-item" href="points.html">Refreshment points</a></div></li><li class="nav-item"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" href="#collapseStages" data-toggle="collapse" aria-expanded="false" aria-controls="collapseStages">Stages</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participants</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="../../assets/files/pdf/informacion-epic.pdf">Información</a><a class="dropdown-item" href="../../assets/files/pdf/ficha-medica.pdf">Ficha médica</a><a class="dropdown-item" href="../../assets/files/pdf/mapa-epic.pdf">Mapa </a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="regulations.html">Regulations</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Multimedia</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item disabled" href="">Photos</a><a class="dropdown-item disabled" href="">Video</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Globaldxt Races</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5)">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Firendly Races</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://www.avaibooksports.com/inscripcion/participantes.php?id=8096"><button class="btn Button--inscripted my-2 my-sm-0" type="submit">Inscribed</button></a><a class="color-link" href="https://www.avaibooksports.com/inscripcion/inscripcion_datos.php?id=8096&amp;lang=es" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit"> Inscription</button></a></div></nav><!-- Stages section--><section class="Stages bg-faded"><div class="collapse" id="collapseStages"><div class="container"><div class="row"></div><div class="row py-3"><div class="col-sm-3"><a class="Figure-link" href="stage1.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage5.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 1</h4><p class="Figure-text m-0">Pontevedra - Ponte Caldelas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage2.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage6.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 2</h4><p class="Figure-text m-0">Ponte Caldelas - Ponteareas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage3.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage7.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 3</h4><p class="Figure-text m-0">Ponteareas - Redondela</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage4.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage8.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 4</h4><p class="Figure-text m-0">Redondela - (Pontevedra)</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div></div></div></div></section></header><main role="main"><div class="carousel slide" id="CarouselStage7" data-ride="carousel"><ol class="carousel-indicators"><li class="active" data-target="#CarouselStage7" data-slide-to="0"></li><li data-target="#CarouselStage7" data-slide-to="1"></li></ol><div class="carousel-inner CarouselStage1-inner" role="listbox"><div class="carousel-item CarouselStage1-item CarouselStage7-item1 active"></div><div class="carousel-item CarouselStage1-item CarouselStage7-item2"></div></div><a class="carousel-control-prev CarouselIndex-control--left" href="#CarouselStage7" role="button" data-slide="prev"><i class="fa fa-angle-left CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Previus</span></a><a class="carousel-control-next CarouselIndex-control--right" href="#CarouselStage7" role="button" data-slide="next"><i class="fa fa-angle-right CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Next                    </span></a></div><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-4 Stage"><h3 class="u-title mb-1">Stage 7</h3><h5 class="Stage-subtitle mb-4">Ponteareas - Redondela</h5><div class="Stage-data rounded py-2 pl-1 pr-3 d-inline-block"><p class="mb-0 d-block">Distance</p><span class="pl-2">76km</span><p class="mb-0 mt-2 d-block">Elevation gain uphill</p><span class="pl-2">1600m</span><p class="mb-0 mt-2 d-block">Desnivel negtivo acumulado</p><span class="pl-2">1600m</span></div></div><div class="col-sm-8"><h5 class="u-subtitle mb-2 text-justify">The southern balconies</h5><img class="img-fluid mb-2 w-100" src="../../assets/files/img/level7.jpg"><p class="text-justify">This is a stage with a very fast first stretch on flat land and with a second part with 3 important climbs.</p><p class="text-justify">The bikers will have to reserve their forces in the first part, most of all for the first ascent.</p><p class="text-justify">We start going south, and just once we have started, we will cross over the bridge of Os Remedios, in Ponteareas, with Roman origin, that let us get some idea of this millenary city nestled in the River Tea riverside.</p><p class="text-justify">We will cross over the bridge again, this time under one of its arches, starting that way a long path that will drive us all along the riverside, alternating twisty stretches with others straight and very fast.</p><p class="text-justify">In the 14 km, we will leave the river path to face an asphalt stretch among villages, returning then to another riverside, in this case the River Miño one.</p><p class="text-justify">Again the paths are very fast, flat and without any difficulties.</p><p class="text-justify">In the 30 km, after a link stretch on asphalt, we get to the first ascent of the stage and the longest  and the hardest one. We face now the climb to Mount Aloia, the first natural park in Galicia, founded more than 40 years ago and a magnificent example of how to convert a desolate area into an orchard.</p><p class="text-justify">This watchtower is the front door to the amazing granite massif of the mountain range of O Galiñeiro, where we will cycle the following 24 kms, facing in this route 2 climbs.</p><p class="text-justify">The first one, that will drive us to the top of the natural park, have some stretches with a strong inclination alternating with easy-going areas.</p><p class="text-justify">We will crown in the 40 km, facing then a fast and comfortable 3 kms descent that will bring us closer to the base of the second climb of the stage, 10 kms of lying ascent along a forest track with some little twisty descents, that will adorn a bit our route along this spectacular balcony over the Atlantic and the valley of Porriño.</p><p class="text-justify">We leave then the mountain range in the surroundings of the reservoir of Zamáns, starting the last climb of the stage. First on asphalt and then along a comfortable forest track, we will get close to  the last descent, leaving the mounts that divide the city of Vigo and its coast and the fault known as Depresión Meridiana, that, for thousand of years, has defined the principal way of communication between the north and the south of the province, where the town of Redondela has played an essential role, both by waterway and land road.</p><a class="u-title mb-1" href="https://es.wikiloc.com/rutas-mountain-bike/etapa-7-epic-race-2019-ponteareas-redondela-36750884">Track</a><div class="row"><div class="col-sm-6 text-left"><a href="etapa2.html"><button class="btn Button--stages">Etapa anterior</button></a></div><div class="col-sm-6 text-right"><a href="etapa4.html"><button class="btn Button--stages">Seguinte etapa</button></a></div></div></div></div></div><section class="IndexPromo py-5 mb-5"><div class="container"><div class="row align-items-center"><div class="col-sm-8"><div class="IndexPromo-text"><h3 class="IndexPromo-title mx-2">Join the challenge</h3><h4 class="IndexPromo-subtitle mx-2">Registration opened from December 1</h4></div></div></div></div></section><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-6 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left text-right"><h3 class="Turn-title">Epic Race</h3><a href="../epic"><button class="btn Button--turn" type="button">More info</button></a></div></div><div class="col-sm-6 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Half Epic Race</h3><a href="../half"><button class="btn Button--turn" type="button">More info</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-2 text-center"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-md-2 text-center"><a href="http://deportepo.blogspot.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/concelleria.svg" alt="Concelleria de deportes"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.mos.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mos.svg" alt="Mos"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/portas.svg" alt="Portas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://concellodemondariz.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mondariz.svg" alt="Mondariz"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://concellodalama.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/alama.svg" alt="A Lama"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>
