dist/index.html
<!DOCTYPE html><html lang="es"><title>Epic Race Pontevedra</title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body class="Index"><div class="container-fluid Index-container"><div class="row Index-row"><div class="col-sm-6 Index-epic"><a class="Index-caption Index-caption--left rounded p-3" href="./es/epic300"><div class="Index-captionBg p-3 rounded"><h1 class="Index-title">EPIC RACE 300</h1><h5 class="Index-subtitle">300 km - 8.500 de acumulado positivo aproximado</h5><h6 class="Index-date">Límite 28 horas.</h6></div></a></div><div class="col-sm-6 Index-half"><a class="Index-caption Index-caption--right rounded p-3" href="./es/epic200"><div class="Index-captionBg p-3 rounded"><h1 class="Index-title">EPIC RACE 200 </h1><h5 class="Index-subtitle">200 km - 5500 de acumulado positivo aproximado</h5><h6 class="Index-date">Límite 19 horas.</h6></div></a></div></div></div></body></html>

src/templates/index.pug
doctype html
html(lang="es")
    title Epic Race Pontevedra
    include ./_includes/_head.pug
    body.Index
        .container-fluid.Index-container: .row.Index-row
                .col-sm-6.Index-epic
                    a.Index-caption.Index-caption--left.rounded.p-3(href='./es/epic300')
                        .Index-captionBg.p-3.rounded
                            h1.Index-title EPIC RACE 300
                            h5.Index-subtitle 300 km - 8.500 de acumulado positivo aproximado
                            h6.Index-date Límite 28 horas.
                .col-sm-6.Index-half
                    a.Index-caption.Index-caption--right.rounded.p-3(href='./es/epic200')
                        .Index-captionBg.p-3.rounded
                            h1.Index-title EPIC RACE 200 
                            h5.Index-subtitle 200 km - 5500 de acumulado positivo aproximado
                            h6.Index-date Límite 19 horas.
                //- .col-sm-4.Index-small
                //-     a.Index-caption.Index-caption--right.rounded.p-3(href='./es/small')
                //-         .Index-captionBg.p-3.rounded
                //-             h1.Index-title SMALL EPIC RACE 
                //-             h5.Index-subtitle 179 km - 4.000 de acumulado positivo aproximado
                //-             h6.Index-date Límite 15 horas. 30 y 31 de mayo
