src/templates/pt/half/etapa1.pug
doctype html
html(lang="es")
    title Etapa 1 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfPT.pug
        main(role="main")
            .carousel.slide#CarouselStage5(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage5" data-slide-to="0").active
                    li(data-target="#CarouselStage5" data-slide-to="1")
                    li(data-target="#CarouselStage5" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage5-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage5-item2
                    .carousel-item.CarouselStage1-item.CarouselStage5-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage5" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage5" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 1
                        h5.Stage-subtitle.mb-4 Pontevedra - Ponte Caldelas
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 71km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1950m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1650m
                    .col-sm-8
                            h5.u-subtitle.mb-2.text-justify Hacia los bosques del interior
                            img.img-fluid.mb-2.w-100(src="../../assets/files/img/level5.jpg")
                            //- p.text-justify Esta é uma etapa na que o ciclista deve ser conservador, já que ainda que os dois portos não apresentam especiais complicações técnicas, se alternam zonas de ascensão tendida com algumas rampas de desnivel superior ao 15%, o que pode minar nossas forças face ao último repecho da etapa. É, portanto, uma etapa na que prima a inteligência do ciclista escalador.
                            //- p.text-justify Abandonamos Pontevedra para enfrentar os primeiros metros pelo meio natural da Xunqueira de Alba, um dos múltiplos presentes dos que a natureza tem dotado à cidade.
                            //- p.text-justify Enfrentamos a seguir a primeira ascensão, primeiro por asfalto, até chegar à saia do monte Castrove. As primeiras rampas duras surpreendem-nos com uma superfície de betão que, depois, passará a ser um caminho de terra. Este trecho que se vai suavizando e nos conduz para a cume deste monte que é o teto da etapa (608m).
                            //- p.text-justify Chegando à cimeira umas vistas, que não deixam a ninguém indiferente, nos mostram a ria de pontevedra e, em poucos metros, mudamos a panorámica pela da ria de Arousa, a qual nos chama com um divertido descenso por pistas de terra e erva.
                            //- p.text-justify Desde aqui avançamos uns quilómetros por uma senda que serpentea em plano, seguindo o Rego de San Martiño, que abandonamos para atravessar a localidade de Barrantes. Desde aqui acedemos às margens do rio Umia, pelas que circulamos procurando as laderas do seguinte porto, enquanto contemplamos os viñedos onde cresce o albariño, o ouro líquido destas terras do vale do Salnés
                            //- p.text-justify Chegamos assim as saias do monte Xiabre. A primeira rampa apresenta algo de dureza por sua inclinação, mas em seguida se suaviza, reservando algumas de suas zonas mas difíceis para o último quilómetro, chegando assim aos 565m de altura.
                            //- p.text-justify O descenso volta-se mais acusado a média ladera e, sem excessivas complicações técnicas,salvo alguma zona com pedras soltas pela acção do água, vai-nos levando até a localidade de Caldas de Reis, pela que cruzamos o rio Umia para enfrentar os últimos quilómetros, não sem dantes superar uma última ascensão, que nos presenteia alguma rampa exigente em seu início.
                            //- p.text-justify Finalmente chegamos por asfalto à localidade de Moraña, que enclavada entre bosques tradicionais e regada pelo rio Umia e seus centos de regatos e rios procedentes de seus montes, nos presenteia um meio natural que hara as delícias de corredores e acompanhantes.
                            a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-5-epic-race-2019-pontevedra-ponte-caldelas-36715990") Track
                            .row
                                .col-sm-6.text-left
                                .col-sm-6.text-right
                                    a(href='etapa2.html'): button.btn.Button--stages Siguiente etapa
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug

dist/es/epic/etapa1.html
<!DOCTYPE html><html lang="es"><title>Etapa 1 </title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 1 de diciembre de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="epicindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="epicequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="epicequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="epicequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-epic-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-epic-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button><a class="navbar-brand" href="index.html"><img src="../../assets/files/img/newlogo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">La Prueba</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categorias.html">Categorías</a><a class="dropdown-item" href="tarifas.html">Tarifas</a><a class="dropdown-item" href="puntos.html">Puntos de avituallamiento</a></div></li><li class="nav-item"><a class="disabled nav-link text-uppercase Header-link mx-2">Etapas</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participantes</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="faqs.html">Preguntas Frecuentes</a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="reglamento.html">Reglamento</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="multimedia.html">Multimedia</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="ropa-evento.html">Ropa Evento</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Globaldxt</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5);">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Amigas</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a><a class="dropdown-item" target="_blank" href="//www.power-race.es/pages/web/portada">Power Race León</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2020/inscripcion_datos/?iframe=1&amp;lang=es&amp;background=transparent" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit">Inscripción</button></a></div></nav><!-- Stages section--></header><main role="main"><div class="carousel slide" id="CarouselStage5" data-ride="carousel"><ol class="carousel-indicators"><li class="active" data-target="#CarouselStage5" data-slide-to="0"></li><li data-target="#CarouselStage5" data-slide-to="1"></li><li data-target="#CarouselStage5" data-slide-to="2"></li></ol><div class="carousel-inner CarouselStage1-inner" role="listbox"><div class="carousel-item CarouselStage1-item CarouselStage5-item1 active"></div><div class="carousel-item CarouselStage1-item CarouselStage5-item2"></div><div class="carousel-item CarouselStage1-item CarouselStage5-item3"></div></div><a class="carousel-control-prev CarouselIndex-control--left" href="#CarouselStage5" role="button" data-slide="prev"><i class="fa fa-angle-left CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Previus</span></a><a class="carousel-control-next CarouselIndex-control--right" href="#CarouselStage5" role="button" data-slide="next"><i class="fa fa-angle-right CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Next                    </span></a></div><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-4 Stage"><h3 class="u-title mb-1">Etapa 1</h3><h5 class="Stage-subtitle mb-4">(Pontevedra) - Ponte Caldelas</h5><div class="Stage-data rounded py-2 pl-1 pr-3 d-inline-block"><p class="mb-0 d-block">Distancia</p><span class="pl-2">73km</span><p class="mb-0 mt-2 d-block">Desnivel positivo acumulado</p><span class="pl-2">1900m</span><p class="mb-0 mt-2 d-block">Desnivel negativo acumulado</p><span class="pl-2">1650m</span></div></div><div class="col-sm-8"><h5 class="u-subtitle mb-2 text-justify">Comienza la aventura</h5><img class="img-fluid mb-2 w-100" src="../../assets/files/img/level1epic.png"><p class="text-justify">Etapa muy rodadora pero con mucho desnivel acumulado y en la que las rampas más inclinadas se encuentran en torno al km 45, antes de tocar el techo de la etapa, por lo que hay que reservar fuerzas para enfrentar este ascenso al Monte do Seixo.</p><p class="text-justify">Salimos de Pontevedra hacia el sur. Los primeros 7 kilómetros son llanos, lo que nos permitirá ir poniendo a punto las piernas de cara a la primera subida. Ésta nos lleva hacía la sierra de A Fracha, por asfalto al principio y luego por anchos caminos forestales sin ninguna dificultad técnica. A medida que vamos ascendiendo ganamos perspectiva sobre la ría de Vigo y su ensenada, a nuestra derecha, una impresionante postal. A continuación faldeamos por un balcón que nos muestra la ría de Pontevedra y sus villas y pueblos enmarcados por en océano Atlántico, que se funde con el horizonte.</p><p class="text-justify">Después de un ligero descenso, enfrentamos una nueva subida cómoda y tendida, rápida y muy rodadora. Nos dirigimos hacia el interior de la provincia, los pueblos van desapareciendo de nuestra vista y la naturaleza se vuelve mas frondosa y agreste.</p><p class="text-justify">En el Km 37 llegamos a la aldea de Famelga, con su espectacular arquitectura tradicional gallega, donde podemos coger agua en la fuente para, desde aquí, atacar la Montaña Mágica, el Monte do Seixo. La subida a este mítico monte no entraña dificultades técnicas pero si tiene algunas rampas con elevada inclinación que nos obligarán a apretar las piernas.</p><p class="text-justify">La capilla de Santa Mariña nos recibe casi en el alto. Llegamos así a los 950 metros de cota y luego de</p><p class="text-justify">recorrer el alto de la sierra, comenzamos a descender. Al frente la vista se vuelve espectacular y podemos distinguir tres rías cerrando un mar de montañas.</p><p class="text-justify">El descenso es rápido y con algún tramo de piedra suelta al principio, en el que debemos afinar nuestra pericia sobre los frenos. A medio descenso entramos en una zona de preciosas corredoiras tradicionales y antiguos bosques que nos sumergen en un paisaje de cuento. Llegamos así al paso sobre el río Verdugo, sobre unas “poldras” en las que habrá que portar la bici. Estamos ya en los últimos kilómetros, que transcurren sin dificultad, acercándonos a Ponte Caldelas, impresionante ayuntamiento donde la piedra de los pueblos se dibuja sobre antiquísimos bosques escondidos entre las montañas y valles que los ríos han labrado durante milenios.</p><div class="row"><div class="col-sm-6 text-left"></div><div class="col-sm-6 text-right"><a href="etapa2.html"><button class="btn Button--stages">Siguiente etapa</button></a></div></div></div></div></div><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-4 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left"><h3 class="Turn-title">Epic Race</h3><a href="../epic"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Half Epic Race</h3><a href="../half"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--small"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Small Epic Race</h3><a href="../small"><button class="btn Button--turn" type="button">Más información</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-3 text-center offset-md-1"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.redondela.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/redondela.svg" alt="Redondela"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://www.ponteareas.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/ponteareas.svg" alt="Ponteareas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontecaldelas.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontecaldelas.svg" alt="Pontecaldelas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.viladecruces.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/viladecruces.svg" alt="Vila de Cruces"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.meis.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/meis.svg" alt="Meis"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>
