dist/es/epic/etapa7.html
<!DOCTYPE html><html lang="es"><title>Etapa 7 | Epic Race Pontevedra</title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 1 de diciembre de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="epicindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="epicequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="epicequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="epicequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-epic-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-epic-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button><a class="navbar-brand" href="index.html"><img src="../../assets/files/img/newlogo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">La Prueba</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categorias.html">Categorías</a><a class="dropdown-item" href="tarifas.html">Tarifas</a><a class="dropdown-item" href="puntos.html">Puntos de avituallamiento</a></div></li><li class="nav-item"><a class="disabled nav-link text-uppercase Header-link mx-2">Etapas</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participantes</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="faqs.html">Preguntas Frecuentes</a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="reglamento.html">Reglamento</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="multimedia.html">Multimedia</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="ropa-evento.html">Ropa Evento</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Globaldxt</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5);">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Amigas</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a><a class="dropdown-item" target="_blank" href="//www.power-race.es/pages/web/portada">Power Race León</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2020/inscripcion_datos/?iframe=1&amp;lang=es&amp;background=transparent" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit">Inscripción</button></a></div></nav><!-- Stages section--></header><main role="main"><div class="carousel slide" id="CarouselStage3" data-ride="carousel"><ol class="carousel-indicators"><li class="active" data-target="#CarouselStage3" data-slide-to="0"></li><li data-target="#CarouselStage3" data-slide-to="1"></li><li data-target="#CarouselStage3" data-slide-to="2"></li></ol><div class="carousel-inner CarouselStage1-inner" role="listbox"><div class="carousel-item CarouselStage1-item CarouselStage3-item1 active"></div><div class="carousel-item CarouselStage1-item CarouselStage3-item2"></div><div class="carousel-item CarouselStage1-item CarouselStage3-item3"></div></div><a class="carousel-control-prev CarouselIndex-control--left" href="#CarouselStage3" role="button" data-slide="prev"><i class="fa fa-angle-left CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Previus</span></a><a class="carousel-control-next CarouselIndex-control--right" href="#CarouselStage3" role="button" data-slide="next"><i class="fa fa-angle-right CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Next                    </span></a></div><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-4 Stage"><h3 class="u-title mb-1">Etapa 7</h3><h5 class="Stage-subtitle mb-4">Vila de Cruces - Portas</h5><div class="Stage-data rounded py-2 pl-1 pr-3 d-inline-block"><p class="mb-0 d-block">Distancia</p><span class="pl-2">80km</span><p class="mb-0 mt-2 d-block">Desnivel positivo acumulado</p><span class="pl-2">1750m</span><p class="mb-0 mt-2 d-block">Desnivel negativo acumulado</p><span class="pl-2">2200m</span></div></div><div class="col-sm-8"><h5 class="u-subtitle mb-2 text-justify">Buscando el oeste</h5><img class="img-fluid mb-2 w-100" src="../../assets/files/img/level7epic.png"><p class="text-justify">Etapa muy rodadora en la que es importante cuidar las piernas, ya que, aunque apenas presenta zonas técnicas ni grandes puertos, a lo largo de sus 80km, se convierte en un rompepiernas que nos puede traicionar si no somos conservadores.</p><p class="text-justify">Abandonamos Vila de cruces subiendo por carretera para, a continuación, comenzar a alternar caminos de tierra con otros asfaltados y así llegar al paso del río Deza, en el entorno de la zona de A Carixa.</p><p class="text-justify">Continuamos la etapa por caminos agrícolas y forestales, atravesando aldeas y casi siempre en ascenso pero sin grandes rampas, hasta llegar a la máxima cota de la etapa, 570m en la zona norte del LIC Brañas de Xestoso.</p><p class="text-justify">Enfrentamos a continuación un divertidisimo descenso de casi 9km en el que circulamos por caminos forestales, agrícolas y senderos tradicionales. Rodeados aldeas, regatos, pequeños saltos de agua, antiguos molinos, petroglifos, castros celtas capillas e iglesias que abarcan del románico al neoclásico gallego.</p><p class="text-justify">Nos vemos así sumergidos en una máquina del tiempo, que nos conduce a por milenios de historia a través de un paisaje sorprendente e indómito que las gentes de estas tierras han domesticado durante siglos.</p><p class="text-justify">En el Km 35 comenzamos de nuevo el ascenso, 9 km tendidos y cómodos que nos llevan a las faldas del monte Cabalar, llegando a los 510m de cota. Vamos así, poco a poco, ganando cota sobre un valle que se extiende hacía el norte, más allá del río Ulla, frontera con la provincia de Coruña, regalándonos un inmenso horizonte bajo el que vemos los destellos de multitud de núcleos rurales. Abandonamos este monte mediante un descenso de 5 km rápidos, que comienzan entre preciosas carballeiras y nos acercan a un fondo de valle entre aldeas. La primera parte por sendas y la segunda alternando asfalto y grava nos acercan a los piés del último monte de la etapa, el Xesteiras.</p><p class="text-justify">En el Km48 comenzamos la ascensión a las faldas del monte Xesteiras sobre pista forestal ancha, cómoda y muy rápida. Sin llegar a hacer cumbre (llegando a una altura de 501m) comienza el descenso, muy rápido por caminos forestales y sendas, en las que no debemos despistarnos del GPS. Una bajada divertida que hará las delicias de los ciclistas.</p><p class="text-justify">Llegamos así, no sin antes superar algunos tramos de ascenso sin grandes rampas, al concello de Portas , que enclavado en un entorno privilegiado, es un mosaico de paisajes donde crece el oro de estas tierras, el Albariño.</p><div class="row"><div class="col-sm-6 text-left"><a href="etapa6.html"><button class="btn Button--stages">Etapa anterior</button></a></div><div class="col-sm-6 text-right"><a href="etapa8.html"><button class="btn Button--stages">Siguiente etapa</button></a></div></div></div></div></div><section class="IndexPromo py-5 mb-5"><div class="container"><div class="row align-items-center"><div class="col-sm-8"><div class="IndexPromo-text"><h3 class="IndexPromo-title mx-2">Únete al reto</h3><h4 class="IndexPromo-subtitle mx-2">Inscripciones abiertas a partir del 1 de diciembre de 2021</h4></div></div></div></div></section><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-4 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left"><h3 class="Turn-title">Epic Race</h3><a href="../epic"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Half Epic Race</h3><a href="../half"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--small"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Small Epic Race</h3><a href="../small"><button class="btn Button--turn" type="button">Más información</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-3 text-center offset-md-1"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.redondela.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/redondela.svg" alt="Redondela"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://www.ponteareas.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/ponteareas.svg" alt="Ponteareas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontecaldelas.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontecaldelas.svg" alt="Pontecaldelas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.viladecruces.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/viladecruces.svg" alt="Vila de Cruces"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.meis.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/meis.svg" alt="Meis"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>

src/templates/gl/epic/etapa7.pug
doctype html
html(lang="es")
    title Etapa 7 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerGL.pug
        main(role="main")
            .carousel.slide#CarouselStage3(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage3" data-slide-to="0").active
                    li(data-target="#CarouselStage3" data-slide-to="1")
                    li(data-target="#CarouselStage3" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage3-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage3-item2
                    .carousel-item.CarouselStage1-item.CarouselStage3-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage3" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage3" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 7
                        h5.Stage-subtitle.mb-4 Ponteareas - Redondela
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 76km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1600m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1600m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify Os balcóns do sur
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level7.jpg")
                        //- h5.u-subtitle.mb-2.text-justify Etapa caracterizada por uma primeira metade muito rápida pelas margens dos rios Miño e Tea e uma segunda parte de portos de montanha, na que atingimos cotas próximas aos 900m, na que não existem zonas especialmente técnicas nem inclinadas em ascensão, mas se alguma baixada por caminho florestal com terreno solto. É idônea para ciclistas rodadores mas que devem saber se administrar em subidas tendidas mas muito longas e que devem saber jogar bem com os travões nas baixadas.
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level7.jpg")
                        //- p.text-justify Abandonamos Tui pelo lado do Miño, alternando amplos caminhos com sendas um pouco mais ratoneras. A continuacion circulamos uns quilómetros por asfalto entre povos para chegar ao rio Tea, no que voltamos aos caminhos quase sem inclinação mas com zonas algo reviradas. Em general estes primeiros 40 kms, realizam-se muito rápido e não há lugar para o aburrimiento tanto pelo traçado como pelo meio.
                        //- p.text-justify A partir do km 40 enfrentamos as primeiras rampas, as primeiras são as mais duras mas depois convertem-se numa subida constante sem muita inclinação que vai ganhando cota pelas margens do vale de Alén até atingir o primeiro porto a 846m.
                        //- p.text-justify A seguir inicámos um rápido descenso para o povo da Airoa. Este trecho é por pistas florestais amplas, mas sua inclinação que chega em algum caso ao 18% e alguma zona com pedra solta obrigar-nos-ão a sacar o máximo partido a nossos travões.
                        //- p.text-justify Uma vez superado o descenso e já no povo de Entrerrios, começamos uma nova ascensão com rampas exigentes que se vão suavizando pouco a pouco para, a seguir, enfrentar ora zona de baixada com umas vistas impressionantes da serras de Ou Suido, Ou Cando e os incríveis montes e bosques que possui o concello da Lamba.
                        //- p.text-justify Após a ponte medieval de Liñares começamos uma nova ascensão que, uma vez coroado, nos leva para A Lamba, alternando caminhos de terra e estradas rodeadas dos exuberantes bosques tradicionais deste concello.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-7-epic-race-2019-ponteareas-redondela-36750884") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa6.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa8.html'): button.btn.Button--stages Seguinte etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug
