src/templates/gl/epic/etapa6.pug
doctype html
html(lang="es")
    title Etapa 6 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerGL.pug
        main(role="main")
            .carousel.slide#CarouselStage2(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage2" data-slide-to="0").active
                    li(data-target="#CarouselStage2" data-slide-to="1")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage2-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage2-item2
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage2" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage2" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 6
                        h5.Stage-subtitle.mb-4 Ponte Caldelas - Ponteareas
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 56km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1400m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1500m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify O país dos mil ríos
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level6.jpg")
                        //- p.text-justify Arrancamos com uma primeira ascensão aos montes que separam a cidade de Vigo e sua costa da falha conhecida como Depressão Meridiana que, durante milénios, tem definido a principal via de comunicação entre o norte e o sul da província e no que Redondela tem jogado um papel essencial tanto por via marítima como terrestre.
                        //- p.text-justify Por asfalto primeiro e alternando caminhos e sendas mais adiante, atingimos a máxima cota desta primeira parte da etapa, na que gozamos de umas impressionantes vistas sobre a cidade de Vigo e sua ria.
                        //- p.text-justify A seguir começamos um descenso por caminhos até a presa de Zamáns, ponto no que começamos uma nova ascensão que nos leva pelas impressionantes saias da serra de Ou Galiñeiro, uma das zonas mais emblemáticas dos montes do sudoeste da província de Pontevedra.
                        //- p.text-justify Abandonamos esta serra em descenso para, a seguir, faldear o cara norte do Parque Natural do Monte Aloia (Tui) e continuar pelos magníficos bosques que possui o concello de Gondomar em sua zona sul. Em todo este trecho circulamos por caminhos florestais muito rodadores.
                        //- p.text-justify Chegamos assim ao concello de Baiona, onde começamos o ataque à serra da Groba, no que alternamos duros repechos com algumas zonas de descanso nas que nossas pernas agradecerão se tomar um respiro para voltar de novo ao ónus.
                        //- p.text-justify Rebasado este duro trecho ver-nos-emos recompensados com uma vistas sobre ria-las que atingem até a província da Corunha. Neste ponto ainda temos mais de 30 km por diante, nos que devemos superar os caminhos que nos levam à cota máxima da etapa (584m) e que, em ocasiões, exigirão o melhor de nós para superar algumas zonas de pedras soltas.
                        //- p.text-justify Finalmente começamos um longo descenso por pistas e caminhos e no que ver-nos-emos obrigados a superar também alguma rampa em ascensão.
                        //- p.text-justify Chegamos assim à monumental cidade de Tui, que enclavada na margem do Riu Miño, nos surpreende com um meio arquitectónico, natural, cultural e gastronómico que não devemos deixar de conhecer.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-6-epic-race-2019-ponte-caldelas-ponteareas-36716222") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa5.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa7.html'): button.btn.Button--stages Seguinte etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug

dist/es/epic/etapa6.html
<!DOCTYPE html><html lang="es"><title>Etapa 6 | Epic Race Pontevedra</title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 1 de diciembre de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="epicindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="epicequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="epicequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="epicequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-epic-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-epic-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button><a class="navbar-brand" href="index.html"><img src="../../assets/files/img/newlogo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">La Prueba</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categorias.html">Categorías</a><a class="dropdown-item" href="tarifas.html">Tarifas</a><a class="dropdown-item" href="puntos.html">Puntos de avituallamiento</a></div></li><li class="nav-item"><a class="disabled nav-link text-uppercase Header-link mx-2">Etapas</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participantes</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="faqs.html">Preguntas Frecuentes</a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="reglamento.html">Reglamento</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="multimedia.html">Multimedia</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="ropa-evento.html">Ropa Evento</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Globaldxt</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5);">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Amigas</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a><a class="dropdown-item" target="_blank" href="//www.power-race.es/pages/web/portada">Power Race León</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2020/inscripcion_datos/?iframe=1&amp;lang=es&amp;background=transparent" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit">Inscripción</button></a></div></nav><!-- Stages section--></header><main role="main"><div class="carousel slide" id="CarouselStage2" data-ride="carousel"><ol class="carousel-indicators"><li class="active" data-target="#CarouselStage2" data-slide-to="0"></li><li data-target="#CarouselStage2" data-slide-to="1"></li></ol><div class="carousel-inner CarouselStage1-inner" role="listbox"><div class="carousel-item CarouselStage1-item CarouselStage2-item1 active"></div><div class="carousel-item CarouselStage1-item CarouselStage2-item2"></div></div><a class="carousel-control-prev CarouselIndex-control--left" href="#CarouselStage2" role="button" data-slide="prev"><i class="fa fa-angle-left CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Previus</span></a><a class="carousel-control-next CarouselIndex-control--right" href="#CarouselStage2" role="button" data-slide="next"><i class="fa fa-angle-right CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Next                    </span></a></div><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-4 Stage"><h3 class="u-title mb-1">Etapa 6</h3><h5 class="Stage-subtitle mb-4">Moraña - Vila de cruces</h5><div class="Stage-data rounded py-2 pl-1 pr-3 d-inline-block"><p class="mb-0 d-block">Distancia</p><span class="pl-2">69km</span><p class="mb-0 mt-2 d-block">Desnivel positivo acumulado</p><span class="pl-2">1850m</span><p class="mb-0 mt-2 d-block">Desnivel negativo acumulado</p><span class="pl-2">1550m</span></div></div><div class="col-sm-8"><h5 class="u-subtitle mb-2 text-justify">El país de los mil ríos</h5><img class="img-fluid mb-2 w-100" src="../../assets/files/img/level6epic.png"><p class="text-justify">Los dos puertos que definen esta etapa presentan una especial dureza bien por la inclinación de sus rampas, que en algún caso supera el 15%, o bien por el estado de algunos caminos, pero es el último ascenso, el que nos lleva directamente a Vila de Cruces, el que se nos puede atragantar si no gestionamos bien nuestras fuerzas. Por otro lado, también presenta zonas muy rápidas y rodadoras lo que la convierte en una combinación de terrenos que exigen el máximo del ciclista a todos los niveles.</p><p class="text-justify">Salimos de Moraña por sus magníficos bosques, buscando el Norte y, tras cruzar el rio Umia, avanzamos por sus márgenes hasta el km 7, por caminos muy rápidos y con leve inclinación.</p><p class="text-justify">A partir de este punto comenzamos la ascensión al monte de Castro Sebil, llegando a los 467m de cota.</p><p class="text-justify">Con un primer tramo por camino, luego 2 Km de asfalto y finalmente sobre pista forestal ancha que, en algunas zonas presenta terreno suelto. Sin llegar a hacer cumbre, después de un ligero descenso, atacamos el Alto del Monte Cabalar (601m) 7 Km de subida tendida pero con tramos con piedra suelta. El descenso es muy rápido por caminos forestales y sendas, con algunos tramos técnicos, en los que no debemos despistarnos del GPS. Una bajada divertida que hará las delicias de los ciclistas.</p><p class="text-justify">Después de un tramo entre aldeas comenzamos un nuevo ascenso combinando pistas de asfalto, caminos de tierra y caminos tradicionales, entre carballeiras. Finalmente alcanzamos la cota máxima de la etapa (719m) después de una sucesión de rectas en ligero ascenso por caminos muy limpios y rápidos. Estamos en el entorno natural de las Brañas de Xestoso, que nos brindan unas magnificas vistas sobre esta penillanura cubierta por un inmenso horizonte.</p><p class="text-justify">Descendemos por caminos rápidos y cómodos que nos van acercando, entre parajes naturales y aldeas, hasta el monasterio de Carboeiro (siglo X), punto en el que cruzamos el río Deza para, a continuación, enfrentar un último ascenso.</p><p class="text-justify">Ya solo queda enfrentar los últimos kilómetros para llegar a Vila de Cruces, algunas de las rampas son duras y la llegada es cuesta arriba, siendo los dos últimos kilómetros por asfalto.</p><p class="text-justify">Éste concello que nos brinda unos fantásticos entornos rurales y una inmensa historia que ahonda sus raices desde los tiempos más pretéritos de la prehistoria de Galicia, pasando por todas las épocas de la historia. Un gran desconocido con mucho que regalar</p><div class="row"><div class="col-sm-6 text-left"><a href="etapa5.html"><button class="btn Button--stages">Etapa anterior</button></a></div><div class="col-sm-6 text-right"><a href="etapa7.html"><button class="btn Button--stages">Siguiente etapa</button></a></div></div></div></div></div><section class="IndexPromo py-5 mb-5"><div class="container"><div class="row align-items-center"><div class="col-sm-8"><div class="IndexPromo-text"><h3 class="IndexPromo-title mx-2">Únete al reto</h3><h4 class="IndexPromo-subtitle mx-2">Inscripciones abiertas a partir del 1 de diciembre de 2021</h4></div></div></div></div></section><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-4 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left"><h3 class="Turn-title">Epic Race</h3><a href="../epic"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Half Epic Race</h3><a href="../half"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--small"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Small Epic Race</h3><a href="../small"><button class="btn Button--turn" type="button">Más información</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-3 text-center offset-md-1"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.redondela.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/redondela.svg" alt="Redondela"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://www.ponteareas.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/ponteareas.svg" alt="Ponteareas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontecaldelas.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontecaldelas.svg" alt="Pontecaldelas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.viladecruces.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/viladecruces.svg" alt="Vila de Cruces"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.meis.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/meis.svg" alt="Meis"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>
