src/templates/gl/epic/puntos.pug
doctype html
html(lang="es")
    title Puntos de avituallamiento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerGL.pug
        main(role="main")
            .u-bgRed
            .container.py-5
                .row
                    .col-sm-3
                        h3.u-title Puntos de avituallamiento
                    .col-sm-9
                        p.tex-justiy Os participantes terán 8 estacións de avituallamento contanto coa Meta, na que se atopan os puntos de control e paso obrigado. Nas estacións disporase dos seguintes servizos:
                            ul: li Zona de aparcamento 
                                li Zona de duchas
                                li Avituallamento sólido/líquido (para os participantes) 
                                li Zona de control de tempos e punto de control
                        .row.py-4
                            .col-sm-12
                                ul.list-unstyled   
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon1.svg" alt="icon7")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseForcarei" aria-expanded="false" aria-controls="collapseForcarei"): h5.mt-0.mb-1 Soutelo de Montes (Forcarei)
                                            .collapse#collapseForcarei
                                                p.text-justify O município de  Forcarei pertence à província de  Pontevedra, com uma população de 1781 habitantes. Em 2016 fundiu-se com o município de  Cotobade, formando o município  Forcarei- Cotobade.
                                                p.text-justify Forcarei encontra-se a 31 km de  Pontevedra, 50 km de Santiago de  Compostela e a 65 km de  Ourense, o que fazem que este município tenha um lugar estratégico no mapa de Galiza.
                                                p.text-justify Terra de  canteros,  Forcarei conta com um grande legado  arquitectónico e artístico, sendo o  románico o principal protagonista, mostra disso é o Conjunto de San  Antón, a Ponte de  Pedre e a Igreja  Parroquial de Santa Marinha em  Tomonde. A  imponente beleza da Igreja  Parroquial de San Juan Bautista em  Forcarei e da Igreja  Parroquial de San Tomei em  Quireza junto a seu  Viacrucis não resulta indiferente. Enquanto a máxima expressão de arquitectura popular galega acha-se no  Eirado dá Pena em  Forcarei, no  Eirado dá  Ermida em  Filgueira e na  Eira Grande em  Pedre.
                                                a.Point-url(href="http://www.Forcarei.org"): i.fa.fa-link(aria-hidden="true"): span http://www.Forcarei.org                                     

                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon2.svg" alt="icon6")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseCruces" aria-expanded="false" aria-controls="collapseCruces"): h5.mt-0.mb-1 Vila de Cruces
                                            .collapse#collapseCruces
                                                p.text-justify O município de Vila de Cruzes está situado no limite mas setentrional da província de  Pontevedra, e conta com uma população de 5435 habitantes.
                                                p.text-justify O município está circundado pelos três principais rios da comarca do  Deza; o  Ulla, o  Deza e o  Arnego.
                                                p.text-justify O produto estrela da gastronomia de Vila de Cruzes é o Galo de Corral, em torno do que se celebra uma importante festa gastronómica declarada de Interesse Turístico Galego.
                                                p.text-justify Também se celebram outras festas gastronómicas como a da  Castaña em novembro, a de  Chorizo em fevereiro, todas elas com  degustación gratuita de produtos da zona.
                                                p.text-justify Em agosto celebra-se o  Rally das  Carretillas, um espectáculo desportivo e cultural baseado nas  carretillas. Este curioso  rali celebra-se dentro da Semana Cultural organizada anualmente pela associação cultural  Miolos de Fume.
                                                a.Point-url(href="http://www.viladecruces.gal"): i.fa.fa-link(aria-hidden="true"): span http://www.viladecruces.gal
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon3.svg" alt="icon5")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseMorana" aria-expanded="false" aria-controls="collapseMorana"): h5.mt-0.mb-1 Moraña
                                            .collapse#collapseMorana
                                                p.text-justify O município de  Moraña está situado ao norte da província de  Pontevedra e conta com uma população de 4.434 habitantes.
                                                p.text-justify Neste município acha-se o  menhir de  Gargantáns, monumento  megalítico do  neolítico com gravados em #dois caras que pode se datar entre 3000-2000 a.C. e mede 192 cm de altura e 50 cm de diâmetro.
                                                p.text-justify A prefeitura de  Moraña conta com duas belas igrejas construídas no século XII, a de San Martín de  Gargantáns e a de San Pedro de  Rebón.
                                                p.text-justify Na  parroquia de  Amil encontra-se o santuário de Nossa Senhora dos Milagres. Na mesma  parroquia de  Amil destaca o notável conjunto  arquitectónico formado pela igreja  parroquial,  barroca do século XVIII, e a casa  rectoral,  adosada a uma torre  medieval.
                                                p.text-justify A  parroquia de Santa Justa, na que se celebra uma importante  romería em honra a esta santa, conta com a melhor  carballeira de todo o município, tanto por sua extensão como pelos 400  robles que a compõem. Próxima à igreja  parroquial há uma fonte que data de princípios do século XVI.
                                                p.text-justify Existem em  Moraña outras  carballeiras de menor entidade, como a de Santa Luzia, na capital do município, onde se celebra a festa gastronómica do "Carneiro  ao  espeto" ( asado).

                                                p.text-justify Destaca em  Moraña A  romería dos Milagres de  Amil, uma das  romerías mas importantes de Galiza, que se celebra no dia 8 de setembro e à que vão milhares de peregrinos. Em dita  romería a  Virgen leva seu manto coberto dos bilhetes que lhe ofereceram os fiéis.
                                                p.text-justify É de mencionar a Festa do "Carneiro  ao  espeto", actualmente declarada como Festa de Interesse Turístico de Galiza e também a Festa do " Porquiño  á  brasa", esta festa se celebra na  parroquia de  Amil no final do mês de agosto, na  carballeira dos Milagres.
                                                p.text-justify Cabe destacar a " Rapa dás  bestas" em  Amil, nesse dia, os cavalos, que durante todo o ano vivem nos montes são  acorralados e conduzidos até o " curro", situado no lugar conhecido como  Pastizal. Aqui procede-se à separação das bestas, para marcá-las e  rapar suas  crines, convertendo-se numa verdadeira luta do homem com o cavalo.
                                                a.Point-url(href="http://www.morana.org"): i.fa.fa-link(aria-hidden="true"): span http://www.morana.org

                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon4.svg" alt="icon1")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapsePontevedra" aria-expanded="false" aria-controls="collapsePontevedra"): h5.mt-0.mb-1 Pontevedra
                                            .collapse#collapsePontevedra
                                                p.text-justify Pontevedra é a capital da província e capital das Rias Baixas. O rio  Lerez atravessa a cidade e por isso é conhecida também como a “Cidade do  Lerez” e também como “ Boa Vila”. É uma cidade administrativa,  monumental, turística e de serviços, com uma população de 82549 habitantes.
                                                p.text-justify Em novembro de 2014 foi-lhe concedido o galardão mundial ONU-Habitat, entregado em  Dubai ( Emiratos Árabes Unidos) que a reconhece como uma das cidades européias mais cómodas para viver, especialmente em matéria de qualidade urbana, mobilidade e acessibilidade. Em 2015 foi-lhe concedido pelo mesmo motivo o prêmio de excelência urbana do  Center  for Active  Design na cidade de Nova York e o prêmio Cidade de Mobilidade Inteligente Euro-Chinesa 2015 entregado em Hong Kong, entre outros.
                                                p.text-justify Possui o centro histórico mais importante de Galiza, junto com o de Santiago de  Compostela. Dito capacete antigo foi declarado em sua totalidade Conjunto Histórico-Artístico em 1951 e tem sido qualificado pelo jornal inglês  The  Guardian como “uma magnífica cidade antiga”.
                                                a.Point-url(href="http://www.pontevedra.gal"): i.fa.fa-link(aria-hidden="true"): span http://www.pontevedra.gal
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon5.svg" alt="icon4")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseLama" aria-expanded="false" aria-controls="collapseLama"): h5.mt-0.mb-1 Pontecaldelas
                                            .collapse#collapseLama
                                                p.text-justify A Lama é um município interior do noroeste da província de  Pontevedra, com 2587 habitantes, situado a 31 km de  Pontevedra e a 50 km de  Vigo.
                                                p.text-justify As terras de A Lama estiveram povoadas desde a  prehistoria, conservando-se restos arqueológicos das culturas  megalíticas desde os anos 4000 a 2000 a de C. como as  mámoas de  Portela dá Cruz, Ou  Seixo, Ou  Suído, e em  Antas. Da Idade de Bronze encontrou-se em Lamba-a uma espada de tipo  argárico do ano 1500 a de C. e em  Verducido e no Castro de  Gaxate vários machados de bronze. Desta idade são os gravados  rupestres em  Chan  do Campo,  Outeiro  Seixiño, Val  do Gato, e A  Laxa dás  Puzas ( Verducido).
                                                p.text-justify Pertencente à Cultura dos  Castros existem três identificados: o Monte  do Castro em  Gaxate, o Monte  do Castro na Lamba, e o de  Xende.
                                                p.text-justify A prefeitura da A Lama pertence à rede  Natura 2000 e é considerada área natural de alto valor ecológico a nível europeu sobre a conservação de habitat natural, fauna e flora  silvestre.
                                                p.text-justify A serra  do  Cando tem seu ponto mas alto no monte do  Seixo com 900m de altitude e a serra do  Suído faz limite natural com  Orense e o ponto mas alto é O  Coto dá  Puza com 1035m de altura, esta serra tem grande valor ecológico e é uma das poucas zonas de Galiza onde ainda podemos ver lobos. Desde a alta serra do  Suído podemos observar as três rias:  Pontevedra,  Vigo e  Villagarcía de  Arousa. Com bom tempo desde o monte de Ou  Seixo vêem-se ria-las de  Pontevedra e  Vigo.
                                                p.text-justify As festas mais importantes da A Lama são a  Romería do Santo Cristo de  Xende, a  Romería da  Virgen das  Ermitas, a festa do vinho do  Pelete e a festa gastronómica do  Codillo.   
                                                a.Point-url(href="http://www.concellodalama.com"): i.fa.fa-link(aria-hidden="true"): span http://www.concellodalama.com
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon6.svg" alt="icon3")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseTui" aria-expanded="false" aria-controls="collapseTui"): h5.mt-0.mb-1 Tui
                                            .collapse#collapseTui
                                                p.text-justify Tui é um município de 17000 habitantes, situado na parte oriental da comarca do Baixo  Miño, na província de  Pontevedra. A partir de 10 de fevereiro de 2012 junto à cidade de  Valença  do Minho (Portugal) formam uma  eurociudad como mostra de cooperação e integração entre ambas cidades separadas tão só por duas pontes que atravessam o rio  Miño. Um destas duas pontes é a Ponte Internacional de  Tui fundado em 1886.
                                                p.text-justify Tui conta com um importante património histórico, tais como a Catedral de Santa María de  Tui, uma das catedrais mais importantes de Galiza. Também é de destacar o Museu e Arquivo Histórico  Diocesano, que foi um antigo hospital de pobres e peregrinos, construído no ano 1756, o Convento e Igreja das  Clarisas é conhecido como convento das  Clarisas ou Encerradas que foi fundado no ano 1524, o Túnel das Freiras  Clarisas se encontra no fundo da rua que leva ao convento das  Clarisas, constituindo um dos rincões mais típicos de  Tui, a Igreja de San Francisco está dotada de biblioteca pública.
                                                p.text-justify O Passeio  Fluvial de  Tui, entre o rio e a antiga muralha  medieval oferece um espaço natural ideal para desfrutar em contacto com a natureza.
                                                p.text-justify Como património natural,  Tui conta com o Monte  Aloioa, que é uma cimeira situada na Serra de  Galiñeiro e declarada parque natural em 1978, com uma superfície de 746 hectares e o ponto mas alto situado a 629 metros de altitude (alto de San  Julián).
                                                p.text-justify Cabe destacar as Festas  Patronales de San  Telmo que começam no Sábado Santo e duram toda a semana até a Segunda-feira de San  Telmo (segunda-feira seguinte ao de  Pascua).
                                                a.Point-url(href="http://www.concellotui.org"): i.fa.fa-link(aria-hidden="true"): span http://www.concellotui.org
                                    li.media.my-4
                                        img.Point-img.d-flex.mr-3(src="../assets/files/img/icon7.svg" alt="icon2")
                                        .media-body.pt-2
                                            a.Point-link(data-toggle="collapse" href="#collapseRedondela" aria-expanded="false" aria-controls="collapseRedondela"): h5.mt-0.mb-1 Redondela
                                            .collapse#collapseRedondela                                
                                                p.text-justify Redondela é um município situado na província de  Pontevedra e integrado na Área Metropolitana de  Vigo. Conta com 7376 habitantes no núcleo urbano e encontra-se a 13 km de  Vigo, a 20 de  Pontevedra e bem perto do Aeroporto de  Peinador.
                                                p.text-justify Conta com duas  viaductos do comboio, declarados Bem de Interesse Cultural em 1978, que atravessam  Redondela, as duas linhas do “Caminho de  Ferro” são: a de  Ourense e a de  Pontevedra, que  discurre ao longo da costa.
                                                p.text-justify Redondela possui numerosos  yacimientos arqueológicos, sendo os mais antigos do ano 3000 a.C. Um importante Castro encontra-se a uns 336 metros de altitude, conhecido como “ Coto  do Castro”.
                                                p.text-justify Também é de destacar certos lugares de interesse como a Ilha de San  Simón, a  ensenada de San  Simón, a ponte de  Rande.
                                                p.text-justify Redondela conta com várias festas, entre as que destacam; a Festa da Coca, que tem lugar no dia do  Corpus  Christi, foi declarada Festa de Interesse Turístico Galego no 2001, e a Festa do Choco, festa gastronómica que se celebra no mês de maio e também declarada Festa de Interesse Turístico Galego.
                                                a.Point-url(href="http://www.redondela.es"): i.fa.fa-link(aria-hidden="true"): span http://www.redondela.es        
            include ../../_includes/_promo.pug
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug

dist/pt/epic/puntos.html
<!DOCTYPE html><html lang="es"><title>Puntos de avituallamiento </title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 15 de febrero de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="epicindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="epicequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="epicequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="epicequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-epic-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-epic-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="index.html"><img src="../../assets/files/img/logo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">A Prova</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categorias.html">Categorías</a><a class="dropdown-item" href="tarifas.html">Tarifas</a><a class="dropdown-item" href="puntos.html">Puntos de avituallamiento</a></div></li><li class="nav-item"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" href="#collapseStages" data-toggle="collapse" aria-expanded="false" aria-controls="collapseStages">Etapas</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participantes</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="../../assets/files/pdf/informacion-epic.pdf">Información</a><a class="dropdown-item" href="../../assets/files/pdf/ficha-medica.pdf">Ficha médica</a><a class="dropdown-item" href="../../assets/files/pdf/mapa-epic.pdf">Mapa </a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="reglamento.html">Regulamento</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Multimedia</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item disabled" href="">Fotos</a><a class="dropdown-item disabled" href="">Vídeo</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Provas Globaldxt</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5)">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Provas Amigas</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://www.avaibooksports.com/inscripcion/participantes.php?id=8096"><button class="btn Button--inscripted my-2 my-sm-0" type="submit">Registrados</button></a><a class="color-link" href="https://www.avaibooksports.com/inscripcion/inscripcion_datos.php?id=8096&amp;lang=es" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit"> Inscripçao</button></a></div></nav><!-- Stages section--><section class="Stages bg-faded"><div class="collapse" id="collapseStages"><div class="container"><div class="row"></div><div class="row py-3"><div class="col-sm-3"><a class="Figure-link" href="etapa1.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage5.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 1</h4><p class="Figure-text m-0">(Pontevedra) - Moraña</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa2.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage6.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 2</h4><p class="Figure-text m-0">Moraña - Vila de Cruces</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa3.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage7.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 3</h4><p class="Figure-text m-0">Vila de Cruces - Meis</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa4.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage8.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 4</h4><p class="Figure-text m-0">Meis - Pontevedra</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div></div><div class="row py-3"><div class="col-sm-3"><a class="Figure-link" href="etapa5.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage1.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 5</h4><p class="Figure-text m-0">Pontevedra - Ponte Caldelas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa6.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage2.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 6</h4><p class="Figure-text m-0">Ponte Caldelas - Ponteareas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa7.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage3.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 7</h4><p class="Figure-text m-0">Ponteareas - Redondela</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa8.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage4.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 8</h4><p class="Figure-text m-0">Redondela - (Pontevedra)</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div></div></div></div></section></header><main role="main"><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-3"><h3 class="u-title">Puntos de avituallamiento</h3></div><div class="col-sm-9"><p class="tex-justiy">Os participantes terão 8 estações de abastecimento incluindo o da Meta, nos que vão estar localizados os pontos de controle. </p><p>Nos abastecimentos vão encontrar: <ul><li>Zona de estacionamento <li>Zona de banho/duche</li><li>Abastecimento sólido/líquido (para os concorrentes) </li><li>Zona de controle de tempos e ponto de controle </li></li></ul></p><div class="row py-4"><div class="col-sm-12"><ul class="list-unstyled"><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon1.svg" alt="icon7"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseForcarei" aria-expanded="false" aria-controls="collapseForcarei"><h5 class="mt-0 mb-1">Soutelo de Montes (Forcarei)</h5></a><div class="collapse" id="collapseForcarei"><p class="text-justify">O município de  Forcarei pertence à província de  Pontevedra, com uma população de 1781 habitantes. Em 2016 fundiu-se com o município de  Cotobade, formando o município  Forcarei- Cotobade.</p><p class="text-justify">Forcarei encontra-se a 31 km de  Pontevedra, 50 km de Santiago de  Compostela e a 65 km de  Ourense, o que fazem que este município tenha um lugar estratégico no mapa de Galiza.</p><p class="text-justify">Terra de  canteros,  Forcarei conta com um grande legado  arquitectónico e artístico, sendo o  románico o principal protagonista, mostra disso é o Conjunto de San  Antón, a Ponte de  Pedre e a Igreja  Parroquial de Santa Marinha em  Tomonde. A  imponente beleza da Igreja  Parroquial de San Juan Bautista em  Forcarei e da Igreja  Parroquial de San Tomei em  Quireza junto a seu  Viacrucis não resulta indiferente. Enquanto a máxima expressão de arquitectura popular galega acha-se no  Eirado dá Pena em  Forcarei, no  Eirado dá  Ermida em  Filgueira e na  Eira Grande em  Pedre.</p><a class="Point-url" href="http://www.Forcarei.org"><i class="fa fa-link" aria-hidden="true"><span>http://www.Forcarei.org                                              </span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon2.svg" alt="icon6"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseCruces" aria-expanded="false" aria-controls="collapseCruces"><h5 class="mt-0 mb-1">Vila de Cruces</h5></a><div class="collapse" id="collapseCruces"><p class="text-justify">O município de Vila de Cruzes está situado no limite mas setentrional da província de  Pontevedra, e conta com uma população de 5435 habitantes.</p><p class="text-justify">O município está circundado pelos três principais rios da comarca do  Deza; o  Ulla, o  Deza e o  Arnego.</p><p class="text-justify">O produto estrela da gastronomia de Vila de Cruzes é o Galo de Corral, em torno do que se celebra uma importante festa gastronómica declarada de Interesse Turístico Galego.</p><p class="text-justify">Também se celebram outras festas gastronómicas como a da  Castaña em novembro, a de  Chorizo em fevereiro, todas elas com  degustación gratuita de produtos da zona.</p><p class="text-justify">Em agosto celebra-se o  Rally das  Carretillas, um espectáculo desportivo e cultural baseado nas  carretillas. Este curioso  rali celebra-se dentro da Semana Cultural organizada anualmente pela associação cultural  Miolos de Fume.</p><a class="Point-url" href="http://www.viladecruces.gal"><i class="fa fa-link" aria-hidden="true"><span>http://www.viladecruces.gal</span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon3.svg" alt="icon5"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseMorana" aria-expanded="false" aria-controls="collapseMorana"><h5 class="mt-0 mb-1">Moraña</h5></a><div class="collapse" id="collapseMorana"><p class="text-justify">O município de  Moraña está situado ao norte da província de  Pontevedra e conta com uma população de 4.434 habitantes.</p><p class="text-justify">Neste município acha-se o  menhir de  Gargantáns, monumento  megalítico do  neolítico com gravados em #dois caras que pode se datar entre 3000-2000 a.C. e mede 192 cm de altura e 50 cm de diâmetro.</p><p class="text-justify">A prefeitura de  Moraña conta com duas belas igrejas construídas no século XII, a de San Martín de  Gargantáns e a de San Pedro de  Rebón.</p><p class="text-justify">Na  parroquia de  Amil encontra-se o santuário de Nossa Senhora dos Milagres. Na mesma  parroquia de  Amil destaca o notável conjunto  arquitectónico formado pela igreja  parroquial,  barroca do século XVIII, e a casa  rectoral,  adosada a uma torre  medieval.</p><p class="text-justify">A  parroquia de Santa Justa, na que se celebra uma importante  romería em honra a esta santa, conta com a melhor  carballeira de todo o município, tanto por sua extensão como pelos 400  robles que a compõem. Próxima à igreja  parroquial há uma fonte que data de princípios do século XVI.</p><p class="text-justify">Existem em  Moraña outras  carballeiras de menor entidade, como a de Santa Luzia, na capital do município, onde se celebra a festa gastronómica do "Carneiro  ao  espeto" ( asado).</p><p class="text-justify">Destaca em  Moraña A  romería dos Milagres de  Amil, uma das  romerías mas importantes de Galiza, que se celebra no dia 8 de setembro e à que vão milhares de peregrinos. Em dita  romería a  Virgen leva seu manto coberto dos bilhetes que lhe ofereceram os fiéis.</p><p class="text-justify">É de mencionar a Festa do "Carneiro  ao  espeto", actualmente declarada como Festa de Interesse Turístico de Galiza e também a Festa do " Porquiño  á  brasa", esta festa se celebra na  parroquia de  Amil no final do mês de agosto, na  carballeira dos Milagres.</p><p class="text-justify">Cabe destacar a " Rapa dás  bestas" em  Amil, nesse dia, os cavalos, que durante todo o ano vivem nos montes são  acorralados e conduzidos até o " curro", situado no lugar conhecido como  Pastizal. Aqui procede-se à separação das bestas, para marcá-las e  rapar suas  crines, convertendo-se numa verdadeira luta do homem com o cavalo.</p><a class="Point-url" href="http://www.morana.org"><i class="fa fa-link" aria-hidden="true"><span>http://www.morana.org</span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon4.svg" alt="icon1"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapsePontevedra" aria-expanded="false" aria-controls="collapsePontevedra"><h5 class="mt-0 mb-1">Pontevedra</h5></a><div class="collapse" id="collapsePontevedra"><p class="text-justify">Pontevedra é a capital da província e capital das Rias Baixas. O rio  Lerez atravessa a cidade e por isso é conhecida também como a “Cidade do  Lerez” e também como “ Boa Vila”. É uma cidade administrativa,  monumental, turística e de serviços, com uma população de 82549 habitantes.</p><p class="text-justify">Em novembro de 2014 foi-lhe concedido o galardão mundial ONU-Habitat, entregado em  Dubai ( Emiratos Árabes Unidos) que a reconhece como uma das cidades européias mais cómodas para viver, especialmente em matéria de qualidade urbana, mobilidade e acessibilidade. Em 2015 foi-lhe concedido pelo mesmo motivo o prêmio de excelência urbana do  Center  for Active  Design na cidade de Nova York e o prêmio Cidade de Mobilidade Inteligente Euro-Chinesa 2015 entregado em Hong Kong, entre outros.</p><p class="text-justify">Possui o centro histórico mais importante de Galiza, junto com o de Santiago de  Compostela. Dito capacete antigo foi declarado em sua totalidade Conjunto Histórico-Artístico em 1951 e tem sido qualificado pelo jornal inglês  The  Guardian como “uma magnífica cidade antiga”.</p><a class="Point-url" href="http://www.pontevedra.gal"><i class="fa fa-link" aria-hidden="true"><span>http://www.pontevedra.gal</span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon5.svg" alt="icon4"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseLama" aria-expanded="false" aria-controls="collapseLama"><h5 class="mt-0 mb-1">A Lama</h5></a><div class="collapse" id="collapseLama"><p class="text-justify">A Lama é um município interior do noroeste da província de  Pontevedra, com 2587 habitantes, situado a 31 km de  Pontevedra e a 50 km de  Vigo.</p><p class="text-justify">As terras de A Lama estiveram povoadas desde a  prehistoria, conservando-se restos arqueológicos das culturas  megalíticas desde os anos 4000 a 2000 a de C. como as  mámoas de  Portela dá Cruz, Ou  Seixo, Ou  Suído, e em  Antas. Da Idade de Bronze encontrou-se em Lamba-a uma espada de tipo  argárico do ano 1500 a de C. e em  Verducido e no Castro de  Gaxate vários machados de bronze. Desta idade são os gravados  rupestres em  Chan  do Campo,  Outeiro  Seixiño, Val  do Gato, e A  Laxa dás  Puzas ( Verducido).</p><p class="text-justify">Pertencente à Cultura dos  Castros existem três identificados: o Monte  do Castro em  Gaxate, o Monte  do Castro na Lamba, e o de  Xende.</p><p class="text-justify">A prefeitura da A Lama pertence à rede  Natura 2000 e é considerada área natural de alto valor ecológico a nível europeu sobre a conservação de habitat natural, fauna e flora  silvestre.</p><p class="text-justify">A serra  do  Cando tem seu ponto mas alto no monte do  Seixo com 900m de altitude e a serra do  Suído faz limite natural com  Orense e o ponto mas alto é O  Coto dá  Puza com 1035m de altura, esta serra tem grande valor ecológico e é uma das poucas zonas de Galiza onde ainda podemos ver lobos. Desde a alta serra do  Suído podemos observar as três rias:  Pontevedra,  Vigo e  Villagarcía de  Arousa. Com bom tempo desde o monte de Ou  Seixo vêem-se ria-las de  Pontevedra e  Vigo.</p><p class="text-justify">As festas mais importantes da A Lama são a  Romería do Santo Cristo de  Xende, a  Romería da  Virgen das  Ermitas, a festa do vinho do  Pelete e a festa gastronómica do  Codillo.   </p><a class="Point-url" href="http://www.concellodalama.com"><i class="fa fa-link" aria-hidden="true"><span>http://www.concellodalama.com</span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon6.svg" alt="icon3"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseTui" aria-expanded="false" aria-controls="collapseTui"><h5 class="mt-0 mb-1">Tui</h5></a><div class="collapse" id="collapseTui"><p class="text-justify">Tui é um município de 17000 habitantes, situado na parte oriental da comarca do Baixo  Miño, na província de  Pontevedra. A partir de 10 de fevereiro de 2012 junto à cidade de  Valença  do Minho (Portugal) formam uma  eurociudad como mostra de cooperação e integração entre ambas cidades separadas tão só por duas pontes que atravessam o rio  Miño. Um destas duas pontes é a Ponte Internacional de  Tui fundado em 1886.</p><p class="text-justify">Tui conta com um importante património histórico, tais como a Catedral de Santa María de  Tui, uma das catedrais mais importantes de Galiza. Também é de destacar o Museu e Arquivo Histórico  Diocesano, que foi um antigo hospital de pobres e peregrinos, construído no ano 1756, o Convento e Igreja das  Clarisas é conhecido como convento das  Clarisas ou Encerradas que foi fundado no ano 1524, o Túnel das Freiras  Clarisas se encontra no fundo da rua que leva ao convento das  Clarisas, constituindo um dos rincões mais típicos de  Tui, a Igreja de San Francisco está dotada de biblioteca pública.</p><p class="text-justify">O Passeio  Fluvial de  Tui, entre o rio e a antiga muralha  medieval oferece um espaço natural ideal para desfrutar em contacto com a natureza.</p><p class="text-justify">Como património natural,  Tui conta com o Monte  Aloioa, que é uma cimeira situada na Serra de  Galiñeiro e declarada parque natural em 1978, com uma superfície de 746 hectares e o ponto mas alto situado a 629 metros de altitude (alto de San  Julián).</p><p class="text-justify">Cabe destacar as Festas  Patronales de San  Telmo que começam no Sábado Santo e duram toda a semana até a Segunda-feira de San  Telmo (segunda-feira seguinte ao de  Pascua).</p><a class="Point-url" href="http://www.concellotui.org"><i class="fa fa-link" aria-hidden="true"><span>http://www.concellotui.org</span></i></a></div></div></li><li class="media my-4"><img class="Point-img d-flex mr-3" src="../assets/files/img/icon7.svg" alt="icon2"><div class="media-body pt-2"><a class="Point-link" data-toggle="collapse" href="#collapseRedondela" aria-expanded="false" aria-controls="collapseRedondela"><h5 class="mt-0 mb-1">Redondela</h5></a><div class="collapse" id="collapseRedondela">                               <p class="text-justify">Redondela é um município situado na província de  Pontevedra e integrado na Área Metropolitana de  Vigo. Conta com 7376 habitantes no núcleo urbano e encontra-se a 13 km de  Vigo, a 20 de  Pontevedra e bem perto do Aeroporto de  Peinador.</p><p class="text-justify">Conta com duas  viaductos do comboio, declarados Bem de Interesse Cultural em 1978, que atravessam  Redondela, as duas linhas do “Caminho de  Ferro” são: a de  Ourense e a de  Pontevedra, que  discurre ao longo da costa.</p><p class="text-justify">Redondela possui numerosos  yacimientos arqueológicos, sendo os mais antigos do ano 3000 a.C. Um importante Castro encontra-se a uns 336 metros de altitude, conhecido como “ Coto  do Castro”.</p><p class="text-justify">Também é de destacar certos lugares de interesse como a Ilha de San  Simón, a  ensenada de San  Simón, a ponte de  Rande.</p><p class="text-justify">Redondela conta com várias festas, entre as que destacam; a Festa da Coca, que tem lugar no dia do  Corpus  Christi, foi declarada Festa de Interesse Turístico Galego no 2001, e a Festa do Choco, festa gastronómica que se celebra no mês de maio e também declarada Festa de Interesse Turístico Galego.</p><a class="Point-url" href="http://www.redondela.es"><i class="fa fa-link" aria-hidden="true"><span>http://www.redondela.es  </span></i></a></div></div></li></ul></div></div></div></div></div><section class="IndexPromo py-5 mb-5"><div class="container"><div class="row align-items-center"><div class="col-sm-8"><div class="IndexPromo-text"><h3 class="IndexPromo-title mx-2">Únete al reto</h3><h4 class="IndexPromo-subtitle mx-2">Inscripciones abiertas a partir del 15 de febrero de 2021</h4></div></div></div></div></section><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-6 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left"><h3 class="Turn-title">Epic Race 300</h3><a href="../epic300"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-6 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Epic Race 200</h3><a href="../epic200"><button class="btn Button--turn" type="button">Más información</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-2 text-center"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-md-2 text-center"><a href="http://deportepo.blogspot.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/concelleria.svg" alt="Concelleria de deportes"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.mos.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mos.svg" alt="Mos"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/portas.svg" alt="Portas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://concellodemondariz.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mondariz.svg" alt="Mondariz"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://concellodalama.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/alama.svg" alt="A Lama"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>
