src/templates/gl/half/tarifas.pug
doctype html
html(lang="es")
    title Tarifas 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfPT.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Tarifas
                    .col-sm-9
                        .Prices.p-4.rounded
                            table.table.table-striped.table-responsive
                                thead: tr
                                        th Inscritos
                                        th Epic Race Individual
                                        th Epic Race Equipos 2-3-4
                                        th Half Epic Race Individual
                                        th Half Epic Race Equipos 2-3-4
                                tbody
                                    tr
                                        th(scope="row") Do 1 ao 15 de decembro 2018*1
                                        td 99€
                                        td 89€
                                        td 79€
                                        td 69€
                                    tr
                                        th(scope="row") Do 16 de decembro ao 20 de xaneiro 2019
                                        td 109€
                                        td 99€
                                        td 89€
                                        td 79€
                                    tr
                                        th(scope="row") Do 21 de xaneiro ao 31 de febreiro de 2019
                                        td 129€
                                        td 119€
                                        td 109€
                                        td 99€
                                    tr
                                        th(scope="row") Del 1 de abril ao 15 de maio de 2109
                                        td 139€
                                        td 129€
                                        td 119€
                                        td 109€
                            small * *1 este periodo está reservado  para os inscritos na edición anterior. •	 Os participantes que non teñan LICENZA FEDERATIVA deberán aboar 10 € de seguro de día para a HALF EPIC RACE E 20 € de seguro de dous días para a EPIC RACE (prezos fixados pola FGC.
                            small As inscricions realizaranse ata o 15 de maio de 2019 ou cubrir as 300 prazas para a EPIC RACE e as 300 prazas para a HALF EPIC RACE.
                            p.text-justify A INSCRICIÓN PODERÁ SER DEOLTA NOS SEGUINTES PRAZOS POR CALQUERA MOTIVO DE ANULACIÓN (EXCEPTUANDO OS GASTOS DE XESTIÓN):
                            ul
                                li 100% DA CUOTA DE INSCRICIÓN: Ata O 19 de febreIro
                                li 50% DA CUOTA DE INSCRICIÓN: Ata ol 1 de abril
                                li 25% DA CUOTA DE INSCRICIÓN: Ata o 1 de maio
                                li 0% DA CUOTA DE INSCRICIÓN: a partires do 2 de maio
                        .Include.py-5
                            h5 ¿Qué inclúe a inscripción?
                            ul
                                li.text-justify Posibilidade de participar no percorrido de 550 km  con límite de 51 horas na EPIC RACE e de 270 km con límite 24 horas na HALF EPIC RACE.
                                li.text-justify Maillot conmemorativo do evento da marca Ottobosley.
                                li.text-justify Pegatinas identificativas para os vehículos de asistencia 
                                li.text-justify Seguro de accidentes
                                li.text-justify GPS de control de situación. Este GPS permite realizar seguimento en vivo de todos os participantes así como velar pola súa seguridade o ter opción de chamada de emerxencia.
                                li.text-justify Dorsal con Chip para control en zonas de paso
                                li.text-justify 8 puntos de avituallamento sólido e liquido para os participantes (4 en caso da half EPIC RACE)
                                li.text-justify Servicio de masaxe na estación de Pontevedra como punto intermedio
                                li.text-justify Servicio de duchas en cada punto de avituallamento
                                li.text-justify Servicio de asistencia sanitaria
                                li.text-justify Zona de aparcamento exclusivo para os vehículos de asistencia, en cada estación
                                li.text-justify Detalle finisher para os que finalicen o reto 
                                li.text-justify Trofeos para os tres primeiros clasificados masculinos y femininos de cada categoría
                                li.text-justify Festa final de proba. Unha festa para os participantes a partir das 13:30 do domingo
            include ../../_includes/_turnGL.pug
        include ../../_includes/_footer.pug

dist/pt/half/tarifas.html
<!DOCTYPE html><html lang="es"><title>Tarifas </title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 15 de febrero de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="halfindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race individual</button></a></div><div class="col-sm-6"><a href="halfequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="halfequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="halfequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-half-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-half-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-half-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-half-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="index.html"><img src="../../../assets/files/img/logo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">A Prova</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categorias.html">Categorías</a><a class="dropdown-item" href="tarifas.html">Tarifas</a><a class="dropdown-item" href="puntos.html">Puntos de avituallamiento</a></div></li><li class="nav-item"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" href="#collapseStages" data-toggle="collapse" aria-expanded="false" aria-controls="collapseStages">Etapas</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participantes</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="../../assets/files/pdf/informacion-epic.pdf">Información</a><a class="dropdown-item" href="../../assets/files/pdf/ficha-medica.pdf">Ficha médica</a><a class="dropdown-item" href="../../assets/files/pdf/mapa-epic.pdf">Mapa </a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="reglamento.html">Regulamento</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Multimedia</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item disabled" href="">Fotos</a><a class="dropdown-item disabled" href="">Vídeo</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Provas Globaldxt</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5)">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Provas Amigas</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://www.avaibooksports.com/inscripcion/participantes.php?id=8096"><button class="btn Button--inscripted my-2 my-sm-0" type="submit">Registrados</button></a><a class="color-link" href="https://www.avaibooksports.com/inscripcion/inscripcion_datos.php?id=8096&amp;lang=es" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit"> Inscripçao</button></a></div></nav><!-- Stages section--><section class="Stages bg-faded"><div class="collapse" id="collapseStages"><div class="container"><div class="row"></div><div class="row py-3"><div class="col-sm-3"><a class="Figure-link" href="etapa1.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage5.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 5</h4><p class="Figure-text m-0">Pontevedra - Ponte Caldelas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa2.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage6.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 6</h4><p class="Figure-text m-0">Ponte Caldelas - Ponteareas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa3.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage7.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 7</h4><p class="Figure-text m-0">Ponteareas - Redondela</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa4.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage8.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 8</h4><p class="Figure-text m-0">Redondela - (Pontevedra)</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div></div></div></div></section></header><main role="main"><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-3"><h3 class="u-title">Tarifas</h3></div><div class="col-sm-9"><div class="Prices p-4 rounded"><table class="table table-striped table-responsive"><thead><tr><th>Inscritos</th><th>Epic Race Individual</th><th>Epic Race Equipos 2-3-4</th><th>Half Epic Race Individual</th><th>Half Epic Race Equipos 2-3-4</th></tr></thead><tbody><tr><th scope="row">Do 1 ao 15 de dezembro de 2017 *</th><td>99€</td><td>89€</td><td>79€</td><td>69€</td></tr><tr><th scope="row">Do 16 de dezembro ao 20 de janeiro de 2018</th><td>109€</td><td>99€</td><td>89€</td><td>79€</td></tr><tr><th scope="row">Do 21 de janeiro ao 31 de marzo de 2018</th><td>129€</td><td>119€</td><td>109€</td><td>99€</td></tr><tr><th scope="row">Do 1 de abril ao 15 de maio de 2018</th><td>139€</td><td>129€</td><td>119€</td><td>109€</td></tr></tbody></table><small>Los participantes que no tengan LICENCIA FEDERATIVA deberán abonar <strong>10 € de seguro</strong> de día para la HALF EPIC RACE y <strong>20 € de seguro</strong> de dos días para la EPIC RACE (precios fijados por la FGC)</small></div><div class="Include py-5"><h5>Que inclui a inscrição?</h5><ul><li class="text-justify">Possibilidade de participar no percurso de 550 km com limite 48 horas: EPIC RACE E de 240 km com limite 24 horas: HALF EPIC RACE.</li><li class="text-justify">Jersey comemorativo do evento da marca Ottobosley.</li><li class="text-justify">Autocolantes para os veículos de assistência.</li><li class="text-justify">Seguro de prova.</li><li class="text-justify">GPS tracker de controle do percurso. </li><li class="text-justify">Este GPS permite seguir todos os atletas. É uma ferramenta de controle, que também garante a segurança no percurso.</li><li class="text-justify">Frontal com Chip para controle em checkpoint.</li><li class="text-justify">8 pontos de abastecimento sólido e liquido para os participantes (4 no caso da Half EPIC RACE) </li><li class="text-justify">Serviço de massagem </li><li class="text-justify">Serviço de banho/duche em cada abastecimento </li><li class="text-justify">Serviço de assistência sanitária </li><li class="text-justify">Zona de estacionamento exclusivo para veículos de assistência </li><li class="text-justify">Medalha finisher para os que completem o desafio com sucesso</li><li class="text-justify">Troféus para os três primeiros classificados masculinos e femininos da cada categoria </li><li class="text-justify"><strong>Festa final de prova</strong>. Uma festa para os participantes a partir das 13h30, no domingo.</li></ul></div></div></div></div><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-6 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left"><h3 class="Turn-title">Epic Race 300</h3><a href="../epic300"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-6 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Epic Race 200</h3><a href="../epic200"><button class="btn Button--turn" type="button">Más información</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-2 text-center"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-md-2 text-center"><a href="http://deportepo.blogspot.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/concelleria.svg" alt="Concelleria de deportes"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.mos.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mos.svg" alt="Mos"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/portas.svg" alt="Portas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://concellodemondariz.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mondariz.svg" alt="Mondariz"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://concellodalama.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/alama.svg" alt="A Lama"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>
