src/templates/es/epic200/puntos.pug
doctype html
html(lang="es")
    title Puntos de avituallamiento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalf.pug
        main(role="main")
            .u-bgRed
            .container.py-5
                .row
                    .col-sm-3
                        h3.u-title Puntos de avituallamiento
                    .col-sm-9
                        p.tex-justify En la EPIC RACE 200, los servicios serán los mismos que en la EPIC RACE 300 pero las estaciones de parada serán 4 ( 3 intermedias y final). 
                        p En las estaciones de avituallamiento se dispondrá de:
                            ul: li Zona de aparcamiento
                                li Zona de duchas
                                li Avituallamiento sólido/líquido (para los participantes)
                                li Zona de control de tiempos y punto de control
                        .row.py-4
                            .col-sm-12
                                //- ul.list-unstyled
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon1.svg" alt="icon1")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapsePontevedra" aria-expanded="false" aria-controls="collapsePontevedra"): h5.mt-0.mb-1 Pontecaldelas
                                //-             .collapse#collapsePontevedra
                                //-                 p.text-justify Pontevedra es la capital de la provincia y capital de las Rías Baixas. El río Lerez atraviesa la ciudad y por ello es conocida también como la “Ciudad del Lerez” y también como “Boa Vila”. Es una ciudad administrativa, monumental, turística y de servicios, con una población de 82549 habitantes.
                                //-                 p.text-justify En noviembre de 2014 le fue concedido el galardón mundial ONU-Hábitat, entregado en Dubai (Emiratos Árabes Unidos) que la reconoce como una de las ciudades europeas más cómodas para vivir, especialmente en materia de calidad urbana, movilidad y accesibilidad. En 2015 le fue concedido por el mismo motivo el premio de excelencia urbana del Center for Active Design en la ciudad de Nueva York y el premio Ciudad de Movilidad Inteligente Euro-China 2015 entregado en Hong Kong, entre otros.
                                //-                 p.text-justify Posee el centro histórico más importante de Galicia, junto con el de Santiago de Compostela. Dicho casco antiguo fue declarado en su totalidad Conjunto Histórico-Artístico en 1951 y ha sido calificado por el periódico inglés The Guardian como “una magnífica ciudad antigua”.
                                //-                 a.Point-url(href="http://www.pontevedra.gal"): i.fa.fa-link(aria-hidden="true"): span http://www.pontevedra.gal
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon3.svg" alt="icon3")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapseTui" aria-expanded="false" aria-controls="collapseTui"): h5.mt-0.mb-1 Tui
                                //-             .collapse#collapseTui
                                //-                 p.text-justify Tui es un municipio de 17000 habitantes, situado en la parte oriental de la comarca del Bajo Miño, en la provincia de Pontevedra. A partir del 10 de febrero de 2012 junto a la ciudad de Valença do Minho (Portugal) forman una eurociudad como muestra de cooperación e integración entre ambas ciudades separadas tan solo por dos puentes que atraviesan el río Miño. Uno de estos dos puentes es el Puente Internacional de Tui fundado en 1886.
                                //-                 p.text-justify Tui cuenta con un importante patrimonio histórico, tales como la Catedral de Santa María de Tui, una de la catedrales más importantes de Galicia. También es de destacar el Museo y Archivo Histórico Diocesano, que fue un antiguo hospital de pobres y peregrinos, construido en el año 1756, el Convento e Iglesia de las Clarisas es conocido como convento de las Clarisas o Encerradas que fue fundado en el año 1524, el Túnel de las Monjas Clarisas se encuentra en el fondo de la calle que lleva al convento de las Clarisas, constituyendo uno de los rincones más típicos de Tui, la Iglesia de San Francisco está dotada de biblioteca pública.
                                //-                 p.text-justify El Paseo Fluvial de Tui, entre el río y la antigua muralla medieval ofrece un espacio natural ideal para disfrutar en contacto con la naturaleza.
                                //-                 p.text-justify Como patrimonio natural, Tui cuenta con el Monte Aloioa, que es una cumbre situada en la Sierra de Galiñeiro y declarada parque natural en 1978, con una superficie de 746 hectáreas y el punto mas alto situado a 629 metros de altitud (alto de San Julián).
                                //-                 p.text-justify Cabe destacar las Fiestas Patronales de San Telmo que comienzan el Sábado Santo y duran toda la semana hasta el Lunes de San Telmo (lunes siguiente al de Pascua).
                                //-                 a.Point-url(href="http://www.concellotui.org"): i.fa.fa-link(aria-hidden="true"): span http://www.concellotui.org
                                //-     li.media.my-4
                                //-         img.Point-img.d-flex.mr-3(src="../../assets/files/img/icon2.svg" alt="icon2")
                                //-         .media-body.pt-2
                                //-             a.Point-link(data-toggle="collapse" href="#collapseRedondela" aria-expanded="false" aria-controls="collapseRedondela"): h5.mt-0.mb-1 Redondela
                                //-             .collapse#collapseRedondela                                
                                //-                 p.text-justify Redondela es un municipio situado en la provincia de Pontevedra e integrado en el Área Metropolitana de Vigo.  Cuenta con 7376 habitantes en el núcleo urbano y se encuentra a 13 km de Vigo, a 20 de Pontevedra y muy cerca del Aeropuerto de Peinador.
                                //-                 p.text-justify Cuenta con dos viaductos del tren, declarados Bien de Interés Cultural en 1978, que atraviesan Redondela, las dos líneas del “Camino de Ferro” son: la de Ourense y la de Pontevedra, que discurre a lo largo de la costa. 
                                //-                 p.text-justify Redondela posee numerosos yacimientos arqueológicos, siendo los más antiguos del año 3000 a.C. Un importante Castro se encuentra a unos 336 metros de altitud, conocido como “Coto do Castro”.
                                //-                 p.text-justify También es de destacar ciertos lugares de interés como la Isla de San Simón, la ensenada de San Simón, el puente de Rande.
                                //-                 p.text-justify Redondela cuenta con varias fiestas, entre las que destacan; la Fiesta de la Coca, que tiene lugar el día del Corpus Christi, fue declarada Fiesta de Interés Turístico Gallego en el 2001, y la Fiesta del Choco, fiesta gastronómica que se celebra en el mes de mayo y también declarada Fiesta de Interés Turístico Gallego.
                                //-                 a.Point-url(href="http://www.redondela.es"): i.fa.fa-link(aria-hidden="true"): span http://www.redondela.es
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug

dist/es/epic/puntos.html
<!DOCTYPE html><html lang="es"><title>Puntos de avituallamiento </title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 1 de diciembre de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="epicindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="epicequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="epicequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="epicequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-epic-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-epic-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button><a class="navbar-brand" href="index.html"><img src="../../assets/files/img/newlogo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">La Prueba</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categorias.html">Categorías</a><a class="dropdown-item" href="tarifas.html">Tarifas</a><a class="dropdown-item" href="puntos.html">Puntos de avituallamiento</a></div></li><li class="nav-item"><a class="disabled nav-link text-uppercase Header-link mx-2">Etapas</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participantes</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="faqs.html">Preguntas Frecuentes</a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="reglamento.html">Reglamento</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="multimedia.html">Multimedia</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="ropa-evento.html">Ropa Evento</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Globaldxt</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5);">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Amigas</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a><a class="dropdown-item" target="_blank" href="//www.power-race.es/pages/web/portada">Power Race León</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2020/inscripcion_datos/?iframe=1&amp;lang=es&amp;background=transparent" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit">Inscripción</button></a></div></nav><!-- Stages section--></header><main role="main"><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-3"><h3 class="u-title">Puntos de avituallamiento</h3></div><div class="col-sm-9"><p class="tex-justify">En la EPIC RACE PONTEVEDRA, los participantes tendrán 7 puntos de parada, donde el paso es obligatorio.</p><p>En las estaciones de avituallamiento se dispondrá de:<ul><li>Zona de aparcamiento<li>Zona de duchas</li><li>Avituallamiento sólido/líquido (para los participantes)</li><li>Zona de control de tiempos y punto de control</li></li></ul></p><div class="row py-4"><div class="col-sm-12"></div></div></div></div></div><section class="IndexPromo py-5 mb-5"><div class="container"><div class="row align-items-center"><div class="col-sm-8"><div class="IndexPromo-text"><h3 class="IndexPromo-title mx-2">Únete al reto</h3><h4 class="IndexPromo-subtitle mx-2">Inscripciones abiertas a partir del 1 de diciembre de 2021</h4></div></div></div></div></section><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-4 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left"><h3 class="Turn-title">Epic Race</h3><a href="../epic"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Half Epic Race</h3><a href="../half"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--small"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Small Epic Race</h3><a href="../small"><button class="btn Button--turn" type="button">Más información</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-3 text-center offset-md-1"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.redondela.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/redondela.svg" alt="Redondela"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://www.ponteareas.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/ponteareas.svg" alt="Ponteareas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontecaldelas.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontecaldelas.svg" alt="Pontecaldelas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.viladecruces.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/viladecruces.svg" alt="Vila de Cruces"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.meis.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/meis.svg" alt="Meis"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>
