dist/es/epic200/tarifas.html
<!DOCTYPE html><html lang="es"><title>Tarifas</title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 15 de febrero de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="epicindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="epicequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="epicequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="epicequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-epic-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-epic-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button><a class="navbar-brand" href="index.html"><img src="../../assets/files/img/newlogo.jpeg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">La Prueba</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categorias.html">Categorías</a><a class="dropdown-item" href="tarifas.html">Tarifas</a><a class="dropdown-item" href="puntos.html">Puntos de avituallamiento</a></div></li><li class="nav-item"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" href="#collapseStages" data-toggle="collapse" aria-expanded="false" aria-controls="collapseStages">Etapas</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participantes</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="faqs.html">Preguntas Frecuentes</a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="reglamento.html">Reglamento</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="multimedia.html">Multimedia</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="alojamiento.html">Alojamiento</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="nuestraPruebas" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nuestra pruebas</a><div class="dropdown-menu bg-inverse" aria-labelledby="nuestraPruebas"><form class="accordion" id="accordionExample"><p class="dropdown-item" data-target="#pruebasGlobal" data-toggle="collapse" aria-expanded="false" aria-controls="pruebasGlobal" style="cursor:pointer">Pruebas Globaldxt</p><div class="collapse" id="pruebasGlobal" data-parent="#accordionExample" style="background-color:rgba(0,0,0,0.5"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5)">BTTroita Pontecaldelas</a></div><p class="dropdown-item" data-target="#pruebasAmigas" data-toggle="collapse" aria-expanded="false" aria-controls="pruebasAmigas" style="cursor:pointer">Pruebas Amigas</p><div class="collapse" id="pruebasAmigas" data-parent="#accordionExample" style="background-color:rgba(0,0,0,0.5"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a><a class="dropdown-item" target="_blank" href="//www.power-race.es/pages/web/portada">Power Race León</a></div></form></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2021/participantes/"><button class="btn Button--inscripted my-2 my-sm-0" type="submit">Inscritos</button></a><a class="color-link" href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2021/inscripcion_datos/"><button class="btn Button--inscription my-2 my-sm-0" type="submit">Inscripción</button></a></div></nav><!-- Stages section--><section class="Stages"><div class="collapse" id="collapseStages"><div class="container"><div class="row py-3"><div class="col-sm-3"><a class="Figure-link" href="etapa1.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage5.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 1</h4><p class="Figure-text m-0">(Pontevedra) - A Lama</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa2.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage6.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 2</h4><p class="Figure-text m-0">A Lama - Mondariz</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa3.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage7.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 3</h4><p class="Figure-text m-0">Mondariz - Mos</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="etapa4.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage8.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Etapa 4</h4><p class="Figure-text m-0">Mos - Pontevedra</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div></div></div></div></section></header><main role="main"><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-3"><h3 class="u-title">Tarifas</h3></div><div class="col-sm-9"><div class="Prices p-4 rounded"><div class="Prices-table d-lg-none d-xl-none" style="background-color: white; padding: 1rem"></div><table class="d-lg-table d-xl-table Prices-table table table-bordered table-responsive"><thead><tr class="mb-3"><th>Inscritos</th><th>Epic Race Individual 300kms</th><th>Epic Race Equipos 2 300kms</th><th>Epic Race Equipos 3 300kms</th><th>Epic Race 200 Individual</th><th>Epic Race 200 Parejas</th></tr></thead><tbody><tr class="mb-3"><th scope="row">Del 1 al 100 incritos</th><td>79€ (sudadera edición especial Epic incluida)</td><td>69€ (sudadera edición especial Epic incluida)</td><td>59€ (sudadera edición especial Epic incluida)</td><td>59€ (sudadera edición especial Epic incluida)</td><td>54€ (sudadera edición especial Epic incluida)</td></tr><tr class="mb-3"><th scope="row">Del 101 inscrito al 200 inscrito</th><td>89€ (sudadera edición especial Epic incluida)</td><td>79€ (sudadera edición especial Epic incluida)</td><td>69€ (sudadera edición especial Epic incluida)</td><td>69€ (sudadera edición especial Epic incluida)</td><td>64€ (sudadera edición especial Epic incluida)</td></tr><tr class="mb-3"><th scope="row">Del 201 al 400 inscrito</th><td>99€ (sudadera edición especial Epic incluida)</td><td>89€ (sudadera edición especial Epic incluida)</td><td>79€ (sudadera edición especial Epic incluida)</td><td>79€ (sudadera edición especial Epic incluida)</td><td>74€ (sudadera edición especial Epic incluida)</td></tr></tbody></table><p>Los participantes que no tengan LICENCIA FEDERATIVA deberán abonar <strong>10 € de seguro</strong> de día para la EPIC RACE 200 y <strong>20 € de seguro</strong> de dos días para la EPIC RACE 300 (precios fijados por la FGC)</p><p class="text-justify">Las inscripciones se realizarán hasta el 23 de mayo de 2021 o cubrir las 200 plazas para la EPIC RACE 300 y las 200 plazas para la EPIC RACE 200.</p><p class="text-justify">LA INSCRIPCIÓN PODRÁ SER DEVUELTA EN LOS SIGUIENTES PLAZOS POR CUALQUIER MOTIVO DE ANULACIÓN (menos 2 euros de gastos de gestión):</p><ul><li>100% DE LA CUOTA DE INSCRIPCIÓN: hasta el 31 de marzo</li><li>50% DE LA CUOTA DE INSCRIPCIÓN: del 1 al 30 de abril</li><li>25% DE LA CUOTA DE INSCRIPCIÓN: del 1 al 15 de mayo</li><li>0% DE LA CUOTA DE INSCRIPCIÓN: a partir del 16 de mayo</li></ul><p class="text-justify"><strong>NO SE REALIZARÁ NINGUN TIPO DE DEVOLUCION DE DINERO DE LAS INDICADA MAS ARRIBA, SEA CUAL SEA LA CAUSA DE ANULACIÓN ( aunque sea por causa médica)</strong></p><p class="text-justify"><strong>En caso de aplazamiento por causas de fuerza mayor, la organización ofrecerá la posibilidad de traspasar las inscripciones a la nueva fecha de celebración que determine, a no ser que el participante solicite expresamente la devolución del importe . Para ello , deberán indicarlo a través del correo soporte@emesports.es con un máximo de 10 días después del anuncio del cambio de fecha en redes sociales y con el envío de un correo electrónico personalizado.</strong></p><p class="text-justify">Posteriormente a esa fecha se aplicarían los plazos previstos en este reglamento en el artículo 2. Para cualquier otra cosa, tenemos el correo globaldxt@gmail.com a disposición de los participantes.</p></div><div class="Include py-5"><h5>¿Qué incluye la inscripción?</h5><ul><li class="text-justify">Posibilidad de participar en el recorrido de 300 km con límite 28 horas en la EPIC RACE 300 y de 200 km con límite 19 horas en EPIC RACE 200.</li><li class="text-justiy">Sudadera edición limitada Epic Race.</li><li class="text-justiy">Pegatinas identificativas para los vehículos de asistencia </li><li class="text-justiy">Seguro de accidentes</li><li class="text-justiy">GPS de control de situación. Este GPS permite realizar seguimiento en vivo de todos los participantes así como vela por su seguridad al tener la opción de llamada de emergencia.</li><li class="text-justify">Dorsal con Chip para control en zonas de paso</li><li class="text-justify">8 puntos de avituallamiento sólido liquido para los participantes (4 en caso de la half EPIC RACE)</li><li class="text-justify">Servicio de masaje (si la situación sanitaria lo permite)</li><li class="text-justify">Servicio de duchas en cada punto de avituallamiento (si la situación sanitaria lo permite)</li><li class="text-justify">Servicio de asistencia sanitaria</li><li class="text-justify">Zona de aparcamiento exclusivo para os vehículos de asistencia, en cada estación</li><li class="text-justify">Detalle finisher para los que finalicen el reto </li><li class="text-justify">Trofeos  para los tres primeros clasificados masculinos y femeninos de cada categoría</li><li class="text-justify"><strong>Fiesta final de prueba</strong>. Una fiesta para los participantes a partir de las 13:30 del domingo</li></ul></div></div></div></div><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-6 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left"><h3 class="Turn-title">Epic Race 300</h3><a href="../epic300"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-6 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Epic Race 200</h3><a href="../epic200"><button class="btn Button--turn" type="button">Más información</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-2 text-center"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-md-2 text-center"><a href="http://deportepo.blogspot.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/concelleria.svg" alt="Concelleria de deportes"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.mos.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mos.svg" alt="Mos"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/portas.svg" alt="Portas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://concellodemondariz.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mondariz.svg" alt="Mondariz"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://concellodalama.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/alama.svg" alt="A Lama"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>

src/templates/es/epic200/tarifas.pug
doctype html
html(lang="es")
    title Tarifas
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalf.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Tarifas
                    .col-sm-9
                        .Prices.p-4.rounded
                            div.Prices-table.d-lg-none.d-xl-none(style="background-color: white; padding: 1rem")
                                //- h5 Inscripciones del 1 de mayo al 23 de agosto
                                //- p(style="border-bottom: 1px solid lightgrey") <strong>Epic Race Individual 300kms</strong> <span>79€ (sudadera edición especial Epic incluida)</span>
                                //- p(style="border-bottom: 1px solid lightgrey") <strong>Epic Race Equipos 2 300kms</strong> <span>69€ (sudadera edición especial Epic incluida)</span>
                                //- p(style="border-bottom: 1px solid lightgrey") <strong>Epic Race Equipos 3 300kms</strong> <span>59€ (sudadera edición especial Epic incluida)</span>
                                //- p(style="border-bottom: 1px solid lightgrey") <strong>Epic Race 200 Individual</strong> <span>55€ (sudadera edición especial Epic incluida)</span>
                                //- p(style="border-bottom: 1px solid lightgrey") <strong>Epic Race 200 Parejas</strong> <span>49€ (sudadera edición especial Epic incluida)</span>
                            table.d-lg-table.d-xl-table.Prices-table.table.table-bordered.table-responsive
                                thead: tr.mb-3
                                        th Inscritos
                                        th Epic Race Individual 300kms
                                        th Epic Race Equipos 2 300kms
                                        th Epic Race Equipos 3 300kms
                                        th Epic Race 200 Individual
                                        th Epic Race 200 Parejas
                                tbody
                                    tr.mb-3
                                        th(scope="row") Del 1 al 100 incritos
                                        td 79€ (sudadera edición especial Epic incluida)
                                        td 69€ (sudadera edición especial Epic incluida)
                                        td 59€ (sudadera edición especial Epic incluida)
                                        td 59€ (sudadera edición especial Epic incluida)
                                        td 54€ (sudadera edición especial Epic incluida)
                                    tr.mb-3
                                        th(scope="row") Del 101 inscrito al 200 inscrito
                                        td 89€ (sudadera edición especial Epic incluida)
                                        td 79€ (sudadera edición especial Epic incluida)
                                        td 69€ (sudadera edición especial Epic incluida)
                                        td 69€ (sudadera edición especial Epic incluida)
                                        td 64€ (sudadera edición especial Epic incluida)
                                    tr.mb-3
                                        th(scope="row") Del 201 al 400 inscrito
                                        td 99€ (sudadera edición especial Epic incluida)
                                        td 89€ (sudadera edición especial Epic incluida)
                                        td 79€ (sudadera edición especial Epic incluida)
                                        td 79€ (sudadera edición especial Epic incluida)
                                        td 74€ (sudadera edición especial Epic incluida)
                            //- small * Este periodo está reservado  para los inscritos en la edición anterior
                            p Los participantes que no tengan LICENCIA FEDERATIVA deberán abonar <strong>10 € de seguro</strong> de día para la EPIC RACE 200 y <strong>20 € de seguro</strong> de dos días para la EPIC RACE 300 (precios fijados por la FGC)
                            p.text-justify Las inscripciones se realizarán hasta el 23 de mayo de 2021 o cubrir las 200 plazas para la EPIC RACE 300 y las 200 plazas para la EPIC RACE 200.
                            p.text-justify LA INSCRIPCIÓN PODRÁ SER DEVUELTA EN LOS SIGUIENTES PLAZOS POR CUALQUIER MOTIVO DE ANULACIÓN (menos 2 euros de gastos de gestión):
                            ul
                                li 100% DE LA CUOTA DE INSCRIPCIÓN: hasta el 31 de marzo
                                li 50% DE LA CUOTA DE INSCRIPCIÓN: del 1 al 30 de abril
                                li 25% DE LA CUOTA DE INSCRIPCIÓN: del 1 al 15 de mayo
                                li 0% DE LA CUOTA DE INSCRIPCIÓN: a partir del 16 de mayo
                            p.text-justify <strong>NO SE REALIZARÁ NINGUN TIPO DE DEVOLUCION DE DINERO DE LAS INDICADA MAS ARRIBA, SEA CUAL SEA LA CAUSA DE ANULACIÓN ( aunque sea por causa médica)</strong>
                            p.text-justify <strong>En caso de aplazamiento por causas de fuerza mayor, la organización ofrecerá la posibilidad de traspasar las inscripciones a la nueva fecha de celebración que determine, a no ser que el participante solicite expresamente la devolución del importe . Para ello , deberán indicarlo a través del correo soporte@emesports.es con un máximo de 10 días después del anuncio del cambio de fecha en redes sociales y con el envío de un correo electrónico personalizado.</strong>
                            p.text-justify Posteriormente a esa fecha se aplicarían los plazos previstos en este reglamento en el artículo 2. Para cualquier otra cosa, tenemos el correo globaldxt@gmail.com a disposición de los participantes.
                        .Include.py-5
                            h5 ¿Qué incluye la inscripción?
                            ul
                                li.text-justify Posibilidad de participar en el recorrido de 300 km con límite 28 horas en la EPIC RACE 300 y de 200 km con límite 19 horas en EPIC RACE 200.
                                li.text-justiy Sudadera edición limitada Epic Race.
                                li.text-justiy Pegatinas identificativas para los vehículos de asistencia 
                                li.text-justiy Seguro de accidentes
                                li.text-justiy GPS de control de situación. Este GPS permite realizar seguimiento en vivo de todos los participantes así como vela por su seguridad al tener la opción de llamada de emergencia.
                                li.text-justify Dorsal con Chip para control en zonas de paso
                                li.text-justify 8 puntos de avituallamiento sólido liquido para los participantes (4 en caso de la half EPIC RACE)
                                li.text-justify Servicio de masaje (si la situación sanitaria lo permite)
                                li.text-justify Servicio de duchas en cada punto de avituallamiento (si la situación sanitaria lo permite)
                                li.text-justify Servicio de asistencia sanitaria
                                li.text-justify Zona de aparcamiento exclusivo para os vehículos de asistencia, en cada estación
                                li.text-justify Detalle finisher para los que finalicen el reto 
                                li.text-justify Trofeos  para los tres primeros clasificados masculinos y femeninos de cada categoría
                                li.text-justify <strong>Fiesta final de prueba</strong>. Una fiesta para los participantes a partir de las 13:30 del domingo
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug
