src/templates/en/half/rates.pug
doctype html
html(lang="es")
    title Rates 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfEN.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Rates
                    .col-sm-9
                        .Prices.p-4.rounded
                            table.table.table-striped.table-responsive
                                thead: tr
                                        th Inscribed
                                        th Epic Race Individual
                                        th Epic Race Teams equipos 2-3-4
                                        th Half Epic Race Individual
                                        th Half Epic Race Teams 2-3-4
                                tbody
                                    tr
                                        th(scope="row") From December 1 to December 15, 2018*
                                        td 99€
                                        td 89€
                                        td 79€
                                        td 69€
                                    tr
                                        th(scope="row") From December 16, 2018 to January 20, 2019
                                        td 109€
                                        td 99€
                                        td 89€
                                        td 79€
                                    tr
                                        th(scope="row") From January 21 to March 31, 2019
                                        td 129€
                                        td 119€
                                        td 109€
                                        td 99€
                                    tr
                                        th(scope="row") From April 1 to May 15, 2109
                                        td 139€
                                        td 129€
                                        td 119€
                                        td 109€
                            small * This period is reserved for those registered in the previous edition. Participants who do not have a FEDERAL LICENSE must pay  a € 10 one day insurance for the HALF EPIC RACE and a € 20 two-day insurance for the EPIC RACE (prices set by the Galician Cycling Federation)
                            small The inscriptions will be made until May 15, 2019 or until the 300 places for the EPIC RACE and the 300 places for the HALF EPIC RACE are covered.
                            p.text-justify REGISTRATION MAY BE REFUNDED IN THE FOLLOWING DEADLINES FOR ANY REASON OF CANCELLATION:
                            ul
                                li 100% OF THE REGISTRATION FEE: until February 19  
                                li 50% OF THE REGISTRATION FEE: until April 1   
                                li 25% OF THE REGISTRATION FEE: until May 1 
                                li 0% OF THE REGISTRATION FEE: as of May 2

                        .Include.py-5
                            h5 What does the registration include?
                            ul
                                li.text-justify Possibility of participating in the 550 km route with a limit of 51 hours in the EPIC RACE and 270 km with a limit of 24 hours in the HALF EPIC RACE.
                                li.text-justify Commemorative vest of the brand event Ottobosley.
                                li.text-justify Identification stickers for assistance vehicles
                                li.text-justify Accident insurance
                                li.text-justify Situation control GPS. This GPS allows live tracking of all participants and ensures their safety by having the option of emergency call.
                                li.text-justify Dorsal with Chip for control in passage areas
                                li.text-justify 8 solid liquid refreshment points for the participants (4 in case of the half EPIC RACE)
                                li.text-justify Massage service
                                li.text-justify Shower service at each refreshment point
                                li.text-justify Healthcare service
                                li.text-justify Exclusive parking area for assistance vehicles, in each station
                                li.text-justify Finisher gift for those who complete the challenge
                                li.text-justify Trophies for the top three male and female ranked in each category
                                li.text-justify Final challenge party . A party for the participants from 1:30 p.m. on Sunday

            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug

dist/en/epic/rates.html
<!DOCTYPE html><html lang="es"><title>Rates </title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 15 de febrero de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="halfindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race individual</button></a></div><div class="col-sm-6"><a href="halfequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="halfequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="halfequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-half-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-half-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-half-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-half-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="index.html"><img src="../../../assets/files/img/logo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Race</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categories.html">Categories</a><a class="dropdown-item" href="rates.html">Rates</a><a class="dropdown-item" href="points.html">Refreshment points</a></div></li><li class="nav-item"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" href="#collapseStages" data-toggle="collapse" aria-expanded="false" aria-controls="collapseStages">Stages</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participants</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="../../assets/files/pdf/informacion-epic.pdf">Información</a><a class="dropdown-item" href="../../assets/files/pdf/ficha-medica.pdf">Ficha médica</a><a class="dropdown-item" href="../../assets/files/pdf/mapa-epic.pdf">Mapa </a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="regulations.html">Regulations</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Multimedia</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item disabled" href="">Photos</a><a class="dropdown-item disabled" href="">Video</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Globaldxt Races</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5)">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Firendly Races</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://www.avaibooksports.com/inscripcion/participantes.php?id=8096"><button class="btn Button--inscripted my-2 my-sm-0" type="submit">Inscribed</button></a><a class="color-link" href="https://www.avaibooksports.com/inscripcion/inscripcion_datos.php?id=8096&amp;lang=es" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit"> Inscription</button></a></div></nav><!-- Stages section--><section class="Stages bg-faded"><div class="collapse" id="collapseStages"><div class="container"><div class="row"></div><div class="row py-3"><div class="col-sm-3"><a class="Figure-link" href="stage1.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage5.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 1</h4><p class="Figure-text m-0">(Pontevedra) - Moraña</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage2.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage6.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 2</h4><p class="Figure-text m-0">Moraña - Vila de Cruces</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage3.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage7.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 3</h4><p class="Figure-text m-0">Vila de Cruces - Meis</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage4.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage8.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 4</h4><p class="Figure-text m-0">Meis - Pontevedra</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div></div><div class="row py-3"><div class="col-sm-3"><a class="Figure-link" href="stage5.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage1.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 5</h4><p class="Figure-text m-0">Pontevedra - Ponte Caldelas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage6.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage2.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 6</h4><p class="Figure-text m-0">Ponte Caldelas - Ponteareas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage7.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage3.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 7</h4><p class="Figure-text m-0">Ponteareas - Redondela</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage8.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage4.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 8</h4><p class="Figure-text m-0">Redondela - (Pontevedra)</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div></div></div></div></section></header><main role="main"><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-3"><h3 class="u-title">Rates</h3></div><div class="col-sm-9"><div class="Prices p-4 rounded"><table class="table table-striped table-responsive"><thead><tr><th>Inscribed</th><th>Epic Race Individual</th><th>Epic Race Teams equipos 2-3-4</th><th>Half Epic Race Individual</th><th>Half Epic Race Teams 2-3-4</th></tr></thead><tbody><tr><th scope="row">From December 1 to December 15, 2018*</th><td>99€</td><td>89€</td><td>79€</td><td>69€</td></tr><tr><th scope="row">From December 16, 2018 to January 20, 2019</th><td>109€</td><td>99€</td><td>89€</td><td>79€</td></tr><tr><th scope="row">From January 21 to March 31, 2019</th><td>129€</td><td>119€</td><td>109€</td><td>99€</td></tr><tr><th scope="row">From April 1 to May 15, 2109</th><td>139€</td><td>129€</td><td>119€</td><td>109€</td></tr></tbody></table><small>* This period is reserved for those registered in the previous edition. Participants who do not have a FEDERAL LICENSE must pay  a € 10 one day insurance for the HALF EPIC RACE and a € 20 two-day insurance for the EPIC RACE (prices set by the Galician Cycling Federation)</small><small>The inscriptions will be made until May 15, 2019 or until the 300 places for the EPIC RACE and the 300 places for the HALF EPIC RACE are covered.</small><p class="text-justify">REGISTRATION MAY BE REFUNDED IN THE FOLLOWING DEADLINES FOR ANY REASON OF CANCELLATION:</p><ul><li>100% OF THE REGISTRATION FEE: until February 19  </li><li>50% OF THE REGISTRATION FEE: until April 1   </li><li>25% OF THE REGISTRATION FEE: until May 1 </li><li>0% OF THE REGISTRATION FEE: as of May 2</li></ul></div><div class="Include py-5"><h5>What does the registration include?</h5><ul><li class="text-justify">Possibility of participating in the 550 km route with a limit of 51 hours in the EPIC RACE and 270 km with a limit of 24 hours in the HALF EPIC RACE.</li><li class="text-justify">Commemorative vest of the brand event Ottobosley.</li><li class="text-justify">Identification stickers for assistance vehicles</li><li class="text-justify">Accident insurance</li><li class="text-justify">Situation control GPS. This GPS allows live tracking of all participants and ensures their safety by having the option of emergency call.</li><li class="text-justify">Dorsal with Chip for control in passage areas</li><li class="text-justify">8 solid liquid refreshment points for the participants (4 in case of the half EPIC RACE)</li><li class="text-justify">Massage service</li><li class="text-justify">Shower service at each refreshment point</li><li class="text-justify">Healthcare service</li><li class="text-justify">Exclusive parking area for assistance vehicles, in each station</li><li class="text-justify">Finisher gift for those who complete the challenge</li><li class="text-justify">Trophies for the top three male and female ranked in each category</li><li class="text-justify">Final challenge party . A party for the participants from 1:30 p.m. on Sunday</li></ul></div></div></div></div><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-6 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left text-right"><h3 class="Turn-title">Epic Race</h3><a href="../epic"><button class="btn Button--turn" type="button">More info</button></a></div></div><div class="col-sm-6 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Half Epic Race</h3><a href="../half"><button class="btn Button--turn" type="button">More info</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-2 text-center"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-md-2 text-center"><a href="http://deportepo.blogspot.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/concelleria.svg" alt="Concelleria de deportes"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.mos.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mos.svg" alt="Mos"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/portas.svg" alt="Portas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://concellodemondariz.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mondariz.svg" alt="Mondariz"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://concellodalama.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/alama.svg" alt="A Lama"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>
