dist/en/epic/stage2.html
<!DOCTYPE html><html lang="es"><title>Stage 2 </title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 15 de febrero de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="halfindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race individual</button></a></div><div class="col-sm-6"><a href="halfequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="halfequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="halfequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-half-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-half-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-half-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-half-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Half Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="index.html"><img src="../../../assets/files/img/logo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Race</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categories.html">Categories</a><a class="dropdown-item" href="rates.html">Rates</a><a class="dropdown-item" href="points.html">Refreshment points</a></div></li><li class="nav-item"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" href="#collapseStages" data-toggle="collapse" aria-expanded="false" aria-controls="collapseStages">Stages</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participants</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="../../assets/files/pdf/informacion-epic.pdf">Información</a><a class="dropdown-item" href="../../assets/files/pdf/ficha-medica.pdf">Ficha médica</a><a class="dropdown-item" href="../../assets/files/pdf/mapa-epic.pdf">Mapa </a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="regulations.html">Regulations</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Multimedia</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item disabled" href="">Photos</a><a class="dropdown-item disabled" href="">Video</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Globaldxt Races</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5)">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Firendly Races</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://www.avaibooksports.com/inscripcion/participantes.php?id=8096"><button class="btn Button--inscripted my-2 my-sm-0" type="submit">Inscribed</button></a><a class="color-link" href="https://www.avaibooksports.com/inscripcion/inscripcion_datos.php?id=8096&amp;lang=es" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit"> Inscription</button></a></div></nav><!-- Stages section--><section class="Stages bg-faded"><div class="collapse" id="collapseStages"><div class="container"><div class="row"></div><div class="row py-3"><div class="col-sm-3"><a class="Figure-link" href="stage1.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage5.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 1</h4><p class="Figure-text m-0">(Pontevedra) - Moraña</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage2.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage6.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 2</h4><p class="Figure-text m-0">Moraña - Vila de Cruces</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage3.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage7.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 3</h4><p class="Figure-text m-0">Vila de Cruces - Meis</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage4.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage8.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 4</h4><p class="Figure-text m-0">Meis - Pontevedra</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div></div><div class="row py-3"><div class="col-sm-3"><a class="Figure-link" href="stage5.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage1.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 5</h4><p class="Figure-text m-0">Pontevedra - Ponte Caldelas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage6.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage2.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 6</h4><p class="Figure-text m-0">Ponte Caldelas - Ponteareas</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage7.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage3.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 7</h4><p class="Figure-text m-0">Ponteareas - Redondela</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div><div class="col-sm-3"><a class="Figure-link" href="stage8.html"><figure class="figure Figure m-0"><img class="figure-img Figure-img img-fluid rounded m-0" src="../../assets/files/img/stage4.jpg"><figcaption class="figure-caption Figure-caption"><h4 class="Figure-title m-0">Stage 8</h4><p class="Figure-text m-0">Redondela - (Pontevedra)</p><div class="Figure-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></figcaption></figure></a></div></div></div></div></section></header><main role="main"><div class="carousel slide" id="CarouselStage6" data-ride="carousel"><ol class="carousel-indicators"><li class="active" data-target="#CarouselStage6" data-slide-to="0"></li><li data-target="#CarouselStage6" data-slide-to="1"></li><li data-target="#CarouselStage6" data-slide-to="2"></li></ol><div class="carousel-inner CarouselStage1-inner" role="listbox"><div class="carousel-item CarouselStage1-item CarouselStage6-item1 active"></div><div class="carousel-item CarouselStage1-item CarouselStage6-item2"></div><div class="carousel-item CarouselStage1-item CarouselStage6-item3"></div></div><a class="carousel-control-prev CarouselIndex-control--left" href="#CarouselStage6" role="button" data-slide="prev"><i class="fa fa-angle-left CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Previus</span></a><a class="carousel-control-next CarouselIndex-control--right" href="#CarouselStage6" role="button" data-slide="next"><i class="fa fa-angle-right CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Next                    </span></a></div><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-4 Stage"><h3 class="u-title mb-1">Stage 2</h3><h5 class="Stage-subtitle mb-4">Moraña - Vila de Cruces</h5><div class="Stage-data rounded py-2 pl-1 pr-3 d-inline-block"><p class="mb-0 d-block">Distance</p><span class="pl-2">75km</span><p class="mb-0 mt-2 d-block">Elevation gain uphill</p><span class="pl-2">2050m</span><p class="mb-0 mt-2 d-block">Elevation gain downhill</p><span class="pl-2">1750m</span></div></div><div class="col-sm-8"><h5 class="u-subtitle mb-2 text-justify">Towards the sky of the Epic Race</h5><img class="img-fluid mb-2 w-100" src="../../assets/files/img/level2.jpg"><p class="text-justify">Even though this stage is not the longest or the one with more height, it is the one with more accumulated elevation gain, so it is the hardest stage in EPIC RACE PONTEVEDRA.</p><p class="text-justify">The 3 mountain ports that define this stage are specially tough, either because of the angle of inclination of its ramps, that in some cases overtakes the 15 %, or because the condition of some paths, that will make the bikers overcome some obstacles with their technical skills and their strength.</p><p class="text-justify">On the other hand, this stage also have very fast and rolling stretches, that makes it a mix of paths and surfaces that will require the best of the bikers at all levels.</p><p class="text-justify">We leave Moraña passing through its magnificent forests, going North, and after crossing the River Umia, we reach the 10th kilometre on fast tracks without or with a slight inclination.</p><p class="text-justify">From this point we start to climb one of Mount Xesteiras foothills along a wide forest track that in some areas have loose ground.</p><p class="text-justify">Without hitting the summit, the descent starts very fast along forest tracks and paths, where we must watch the GPS. A very funny descent that will make the wonders of the bikers.</p><p class="text-justify">We get then a valley bottom among villages, to tackle the climb up to Mount Cabalar. This mount does not have specially difficult ramps, but otherwise we will find some slopes with loose ground that will make us refine and look for the cleanest drawn all the time. The descent is fast, funny and without special difficulties.</p><p class="text-justify">After a short stretch among villages we start the climb again combining asphalt lanes, dirt tracks and traditional paths among “carballeiras” (galician oak forests). Finally we reach the maximum height of the stage (719 mts) after a sequence of straight lanes in slight elevation along very clean and fast paths.</p><p class="text-justify">We are now into the nature environment of Brañas de Xestoso, that gives us a magnificent view over this peneplain covered by an immense horizon.</p><p class="text-justify">We descent now through fast and comfortable paths driving us, among natural areas and villages, to Monastery of Carboeiro (Xth Century), where we cross the River Deza to face the last descent.</p><p class="text-justify">All we have to do now is to face the last kilometres to get Vila de Cruces, council that gives us amazing natural areas and an immense history that has its roots in the galician prehistoric times, offering us a heritage that is really a mosaic of all the periods of history. A big unknown with a lot to give.</p><a class="u-title mb-1" href="https://es.wikiloc.com/rutas-mountain-bike/etapa-2-epic-race-2019-morana-vila-de-cruces-36679898">Track</a><div class="row"><div class="col-sm-6 text-left"><a href="etapa1.html"><button class="btn Button--stages">Previous stage</button></a></div><div class="col-sm-6 text-right"><a href="etapa3.html"><button class="btn Button--stages">Next stage</button></a></div></div></div></div></div><section class="IndexPromo py-5 mb-5"><div class="container"><div class="row align-items-center"><div class="col-sm-8"><div class="IndexPromo-text"><h3 class="IndexPromo-title mx-2">Join the challenge</h3><h4 class="IndexPromo-subtitle mx-2">Registration opened from December 1</h4></div></div></div></div></section><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-6 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left text-right"><h3 class="Turn-title">Epic Race</h3><a href="../epic"><button class="btn Button--turn" type="button">More info</button></a></div></div><div class="col-sm-6 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Half Epic Race</h3><a href="../half"><button class="btn Button--turn" type="button">More info</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-2 text-center"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-md-2 text-center"><a href="http://deportepo.blogspot.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/concelleria.svg" alt="Concelleria de deportes"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.mos.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mos.svg" alt="Mos"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/portas.svg" alt="Portas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://concellodemondariz.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/mondariz.svg" alt="Mondariz"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://concellodalama.com/" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/alama.svg" alt="A Lama"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>

src/templates/en/half/stage2.pug
doctype html
html(lang="es")
    title Etapa 2 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerHalfEN.pug
        main(role="main")
            .carousel.slide#CarouselStage6(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage6" data-slide-to="0").active
                    li(data-target="#CarouselStage6" data-slide-to="1")
                    li(data-target="#CarouselStage6" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage6-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage6-item2
                    .carousel-item.CarouselStage1-item.CarouselStage6-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage6" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage6" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Stage 6
                        h5.Stage-subtitle.mb-4 Ponte Caldelas - Ponteareas
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distance
                            span.pl-2 56km
                            p.mb-0.mt-2.d-block Elevation gain uphill
                            span.pl-2 1400m
                            p.mb-0.mt-2.d-block Elevation gain downhill
                            span.pl-2 1500m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify The Country of the thousand rivers
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level6.jpg")
                        p.text-justify This is a stage with clearly 2 different sectors, one first part with the most positive accumulated elevation gain, where we will have to face some stretches with strong climbs and very fast descents, and a second part, from the 31 km on, mainly in descent or with flat areas.

                        p.text-justify We leave Ponte Caldelas climbing, first on asphalt and then along wide forest tracks without any technical difficulty apart from the inclination of the land, crowning that way the first hill of the stage, in the 5 km.

                        p.text-justify After an easy descent, we get to the base of Mount do Ceo, where the first ramps are on asphalt and, once we have left this behind, we will find the first ascents with an important inclination, even though with some interval rest zones. As we are climbing, the ascent gets softer and we crown that way this mount, to enjoy a spectacular view, first to the south and after to the north, after a very little asphalt stretch.
                        p.text-justify From the top, the vastness of a sea of mountains spreads so far as the eye can see, and over this mount foothills and valleys lay out dense forests among which we can sight some small villages sprinkled by human along the centuries.

                        p.text-justify The descent is very fast, first along a forest track, and then along a traditional path a little more technical. The last stretch, on asphalt, drives us to a valley bottom with little rural villages.

                        p.text-justify A stretch along paths on dirt road and asphalt, with a sequence of short ascents and descents, will bring us closer to the base of the last ascent of the stage, in the 24 km. This point is determined by the medieval bridge of Anceu, that, with its 5 spans hidden among the thicket, marks the beginning of one of the most complicated climbs of The Epic Race.
                        p.text-justify The first ramps are technical, along a traditional path with an interval stretch on asphalt. There isn't loose ground and the inclination is not excessive, but the strength and the skills of the bikers will be decisive. We will finish the ascent along a wide forest track.

                        p.text-justify The last descent has a very fast first kilometre, where we will have to handle the breaks with skill and refine the trace, to face then another 10 kilometres of comfortable descent along a wide forest track over the amazing valley of the River Alén.

                        p.text-justify The last kilometres by the riverside of the River Tea will take us along a funny path almost flat to the end of this stage, in the city of Ponteareas.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-6-epic-race-2019-ponte-caldelas-ponteareas-36716222") Track
                            .row
                                .col-sm-6.text-left
                                    a(href='etapa1.html'): button.btn.Button--stages Etapa anterior
                                .col-sm-6.text-right
                                    a(href='etapa3.html'): button.btn.Button--stages Seguinte etapa
            include ../../_includes/_promoEN.pug
            include ../../_includes/_turnEN.pug
        include ../../_includes/_footer.pug
