src/templates/es/epic300/faqs.pug
doctype html
html(lang="es")
    title Reglamento 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_header.pug
        main(role="main")
            .u-bgRed
            .container.py-5: .row
                    .col-sm-3
                        h3.u-title Preguntas frecuentes
                    .col-sm-9
                        .Rules#accordion(role="tablist" aria-multiselectable="true")
                            //art.1
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading1(role="tab")
                                    a.Rules-link.mb-0(data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Cuántos kilómetros tiene la prueba?
                            .collapse.show#collapse1(role="tabpanel" aria-labelledby="heading1"): .card-block
                                    p.justify-text La epic race cuenta con 300 km de puro MTB, a lo largo de toda la Provincia de Pontevedra 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading2(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Qué acumulado positivo total tiene?
                            .collapse#collapse2(role="tabpanel" aria-labelledby="heading2"): .card-block
                                    p.justify-text El total de las 7 etapas tiene 8500 m de desnivel acumulado positvo. 
                            //art.3
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading3(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Cuántas estaciones de avituallamiento tiene la prueba?
                            .collapse#collapse3(role="tabpanel" aria-labelledby="heading3"): .card-block 
                                    p.justify-text Los participantes tendrán 7 estaciones de avituallamiento contando con la Meta, en la que se encuentran los puntos de control de obligado paso.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading4(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Qué límite máximo de horas tengo para acabarla?
                            .collapse#collapse4(role="tabpanel" aria-labelledby="heading4"): .card-block
                                     p.justify-text En cada una de las etapas habrá un tiempo limite para acabarlas. El límite total será de 28 horas, pero es muy importante saber que si no llega al punto de control antes del tiempo límite marcado por la etapa ( tiempos límite que se irán acumulando) se estará fuera de la prueba.

                            .card.Rules-card.mb-1: .card-header.Rules-header#heading5(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Está el recorrido flechado?
                            .collapse#collapse5(role="tabpanel" aria-labelledby="heading5"): .card-block
                                     p.justify-text El recorido NO ESTÁ FLECHADO, por lo que es preciso usar un terminal GPS en el que los participantes tendrán el recorrido facilitado por la organización.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading6(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Puedo elegir un recorrido alternativo al marcado por la organización?
                            .collapse#collapse6(role="tabpanel" aria-labelledby="heading6"): .card-block
                                    p.justify-text NO. La organización tiene dispuesto una zona de control en la que se controla el recorrido de cada participante. Aquellos participantes que se separen más de 500 metros del track y no vuelvan al track marcado, serán EXPULSADOS de la prueba.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading7(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Pueden ayudarme durante el recorrido?
                            .collapse#collapse7(role="tabpanel" aria-labelledby="heading7"): .card-block 
                                    p.justify-text Está PROHIBIDO, recibir cualquier tipo de ayuda externa durante el recorido. Solo en los puntos de avituallamiento se podrá recibir ayuda. Por lo que los participantes deberán llegar por sus propios medios a dichos puntos de control.
                            
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading8(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Qué pasa si no llego al punto de control?
                            .collapse#collapse8(role="tabpanel" aria-labelledby="heading8"): .card-block
                                    p.justify-text El equipo/participante quedará fuera de competición y por lo tanto del control de la organización.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading9(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse9"     aria-expanded="false" aria-controls="collapse9")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2  ¿Qué pasa si un miembro de mi equipo abandona?
                            .collapse#collapse9(role="tabpanel" aria-labelledby="heading9"): .card-block
                                    p.justify-text El resto del equipo podrá estar en carrera. La clasificación será la del nº de participantes inscritos de inicio.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading10(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse10"     aria-expanded="false" aria-controls="collapse10")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿La prueba es abierta al tráfico?
                            .collapse#collapse10(role="tabpanel" aria-labelledby="heading10"): .card-block
                                    p.justify-text SI, ASI ES. La prueba está abierta al tráfico por lo que se deberá respetar semáforos, cruces, modo de circulación, etc. La organización no se responsabiliza de los posibles percances acaecidos por no respetar la circulacón y sus normas, pudiendo ser expulsados de la prueba en caso de que se vea a algún participantes cometiendo una infracción. 
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading11(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Es obligatorio llevar móvil en la prueba?
                            .collapse#collapse11(role="tabpanel" aria-labelledby="heading11"): .card-block
                                    p.justify-text Sí, para que la organización pueda ponerse en contacto si surge algún imprevisto o hay algún problema. Importante que tenga batería suficiente.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading12(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Qué hago si no decido seguir en la prueba?
                            .collapse#collapse12(role="tabpanel" aria-labelledby="heading12"): .card-block
                                    p.justify-text Fundamental que de aviso a la organización lo antes posible para poder tener controlados a todos los participantes y velar por su seguridad.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading13(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Cuándo puedo retirar el dorsal?
                            .collapse#collapse13(role="tabpanel" aria-labelledby="heading13"): .card-block 
                                    p.justify-text La recogida de dorsales tendrá lugar el viernes 4 de junio en horario de 17 a 21 horas en las instalaciones del PAZO DE CONGRESOS E EXPOSICIONS DE PONTEVEDR A (R/ Alexandre Bóveda) u en otro lugar determinado por la organización, para los participantes de la EPIC RACE 300 , y EPIC RACE 200. Los participantes, también podrán recoger sus dorsales en la zona de salida el sábado 5 de junio en horario de 7:00 a 8:15 horas . Será obligatorio presentar la licencia original y en vigor, para la recogida de dorsales. La asignación de dorsales será en función de las categorías.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading14(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Puede retirar el dorsal algún compañero por mí?
                            .collapse#collapse14(role="tabpanel" aria-labelledby="heading14"): .card-block
                                    p.justify-text Sí, siempre que tenga DNI y Licencia de la federación, y los papeles que se deben tener cubiertos para la prueba.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading15(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse15"     aria-expanded="false" aria-controls="collapse15") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Tengo que pagar el seguro federativo?
                            .collapse#collapse15(role="tabpanel" aria-labelledby="heading15"): .card-block 
                                    p.justify-text SOLO si no tienes la licencia Federativa en Vigor. La federación pone da la opción de LICENCIA DE DÍA para el evento, que en caso de la EPIC RACE 300 será de 20 euros y en la EPIC RACE 200 de 10 euros.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading16(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse16"     aria-expanded="false" aria-controls="collapse16")
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Qué hay en las estaciones de avituallamiento?
                            .collapse#collapse16(role="tabpanel" aria-labelledby="heading16"): .card-block
                                    ul En las estaciones de avituallamiento se dispondrá de:
                                        li Zona de aparcamientos
                                        li Zona de duchas
                                        li Avituallamiento sólido/líquido ( para los participantes)
                                        li Zona de masaje en estaciones por determinar
                                        li Zona de control de tiempos y punto de control
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading17(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Es obligatorio el breafing de inicio de prueba?
                            .collapse#collapse17(role="tabpanel" aria-labelledby="heading17"): .card-block 
                                    p.justify-text SI. Es obligatorio puesto que se dará información primordial para la prueba. La hora del breafing se informará a los participantes 15 días antes del evento.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading18(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Cómo se traslada los vehículos de punto de control a punto de control?
                            .collapse#collapse18(role="tabpanel" aria-labelledby="heading18"): .card-block
                                    p.justify-text Cada equipo dispondrá de una hoja de ruta para poder ir a los diferentes puntos de control. En la zona de avituallamientos SOLO estacionarán los vehículos autorizados.
                            .card.Rules-card.mb-1: .card-header.Rules-header#heading19(role="tab")
                                    a.Rules-link.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19") 
                                        i.Rules-linkIcon.d-inline.fa.fa-circle(aria-hidden="true")
                                        h6.Rules-linkTitle.d-inline.ml-2 ¿Es obligatorio recoger el trofeo si lo gano?
                            .collapse#collapse19(role="tabpanel" aria-labelledby="heading19"): .card-block 
                                    p.justify-text SI. Es obligatorio. El Domingo a las 13:30 horas se entregarán los trofeos. En caso de que algún participante/equipo que merezca trofeo no hubiese entrado aun, se le dará en el momento de su entrada en meta.
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug

dist/es/epic/faqs.html
<!DOCTYPE html><html lang="es"><title>Reglamento </title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 1 de diciembre de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="epicindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="epicequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="epicequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="epicequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-epic-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-epic-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button><a class="navbar-brand" href="index.html"><img src="../../assets/files/img/newlogo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">La Prueba</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categorias.html">Categorías</a><a class="dropdown-item" href="tarifas.html">Tarifas</a><a class="dropdown-item" href="puntos.html">Puntos de avituallamiento</a></div></li><li class="nav-item"><a class="disabled nav-link text-uppercase Header-link mx-2">Etapas</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participantes</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="faqs.html">Preguntas Frecuentes</a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="reglamento.html">Reglamento</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="multimedia.html">Multimedia</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="ropa-evento.html">Ropa Evento</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Globaldxt</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5);">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Amigas</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a><a class="dropdown-item" target="_blank" href="//www.power-race.es/pages/web/portada">Power Race León</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2020/inscripcion_datos/?iframe=1&amp;lang=es&amp;background=transparent" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit">Inscripción</button></a></div></nav><!-- Stages section--></header><main role="main"><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-3"><h3 class="u-title">Preguntas frecuentes</h3></div><div class="col-sm-9"><div class="Rules" id="accordion" role="tablist" aria-multiselectable="true"><!--art.1--><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading1" role="tab"><a class="Rules-link mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2">¿Cuántos kilómetros tiene la prueba?</h6></a></div></div><div class="collapse show" id="collapse1" role="tabpanel" aria-labelledby="heading1"><div class="card-block"><p class="justify-text">La epic race cuenta con 300 km de puro MTB, a lo largo de toda la Provincia de Pontevedra </p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading2" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2"> ¿Qué acumulado positivo total tiene?</h6></a></div></div><div class="collapse" id="collapse2" role="tabpanel" aria-labelledby="heading2"><div class="card-block"><p class="justify-text">El total de las 8 etapas suma 8500 m de desnivel acumulado positivo </p></div></div><!--art.3--><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading3" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2"> ¿Cuántas estaciones de avituallamiento tiene la prueba?</h6></a></div></div><div class="collapse" id="collapse3" role="tabpanel" aria-labelledby="heading3"><div class="card-block"> <p class="justify-text">Los participantes tendrán 7 estaciones de avituallamiento contando con la Meta, en la que se encuentran los puntos de control de obligado paso.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading4" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2"> ¿Qué límite máximo de horas tengo para acabarla?</h6></a></div></div><div class="collapse" id="collapse4" role="tabpanel" aria-labelledby="heading4"><div class="card-block"><p class="justify-text">En cada una de las etapas habrá un tiempo limite para acabarlas. El límite total será de 28 horas, pero es muy importante saber que si no llega al punto de control antes del tiempo límite marcado por la etapa ( tiempos límite que se irán acumulando) se estará fuera de la prueba.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading5" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2"> ¿Está el recorrido flechado?</h6></a></div></div><div class="collapse" id="collapse5" role="tabpanel" aria-labelledby="heading5"><div class="card-block"><p class="justify-text">El recorido NO ESTÁ FLECHADO, por lo que es preciso usar un terminal GPS en el que los participantes tendrán el recorrido facilitado por la organización.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading6" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2"> ¿Puedo elegir un recorrido alternativo al marcado por la organización?</h6></a></div></div><div class="collapse" id="collapse6" role="tabpanel" aria-labelledby="heading6"><div class="card-block"><p class="justify-text">NO. La organización tiene dispuesto una zona de control en la que se controla el recorrido de cada participante. Aquellos participantes que se separen más de 500 metros del track y no vuelvan al track marcado, serán EXPULSADOS de la prueba.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading7" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2"> ¿Pueden ayudarme durante el recorrido?</h6></a></div></div><div class="collapse" id="collapse7" role="tabpanel" aria-labelledby="heading7"><div class="card-block"> <p class="justify-text">Está PROHIBIDO, recibir cualquier tipo de ayuda externa durante el recorido. Solo en los puntos de avituallamiento se podrá recibir ayuda. Por lo que los participantes deberán llegar por sus propios medios a dichos puntos de control.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading8" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2"> ¿Qué pasa si no llego al punto de control?</h6></a></div></div><div class="collapse" id="collapse8" role="tabpanel" aria-labelledby="heading8"><div class="card-block"><p class="justify-text">El equipo/participante quedará fuera de competición y por lo tanto del control de la organización.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading9" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9"><i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2"> ¿Qué pasa si un miembro de mi equipo abandona?</h6></a></div></div><div class="collapse" id="collapse9" role="tabpanel" aria-labelledby="heading9"><div class="card-block"><p class="justify-text">El resto del equipo podrá estar en carrera. La clasificación será la del nº de participantes inscritos de inicio.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading10" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10"><i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2">¿La prueba es abierta al tráfico?</h6></a></div></div><div class="collapse" id="collapse10" role="tabpanel" aria-labelledby="heading10"><div class="card-block"><p class="justify-text">SI, ASI ES. La prueba está abierta al tráfico por lo que se deberá respetar semáforos, cruces, modo de circulación, etc. La organización no se responsabiliza de los posibles percances acaecidos por no respetar la circulacón y sus normas, pudiendo ser expulsados de la prueba en caso de que se vea a algún participantes cometiendo una infracción. </p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading11" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2">¿Es obligatorio llevar móvil en la prueba?</h6></a></div></div><div class="collapse" id="collapse11" role="tabpanel" aria-labelledby="heading11"><div class="card-block"><p class="justify-text">Sí, para que la organización pueda ponerse en contacto si surge algún imprevisto o hay algún problema. Importante que tenga batería suficiente.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading12" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2">¿Qué hago si no decido seguir en la prueba?</h6></a></div></div><div class="collapse" id="collapse12" role="tabpanel" aria-labelledby="heading12"><div class="card-block"><p class="justify-text">Fundamental que de aviso a la organización lo antes posible para poder tener controlados a todos los participantes y velar por su seguridad.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading13" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2">¿Cuándo puedo retirar el dorsal?</h6></a></div></div><div class="collapse" id="collapse13" role="tabpanel" aria-labelledby="heading13"><div class="card-block"> <p class="justify-text">La recogida de dorsales está pendiente de confirmación, al igual que la fecha de la prueba.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading14" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2">¿Puede retirar el dorsal algún compañero por mí?</h6></a></div></div><div class="collapse" id="collapse14" role="tabpanel" aria-labelledby="heading14"><div class="card-block"><p class="justify-text">Sí, siempre que tenga DNI y Licencia de la federación, y los papeles que se deben tener cubiertos para la prueba.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading15" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2">¿Tengo que pagar el seguro federativo?</h6></a></div></div><div class="collapse" id="collapse15" role="tabpanel" aria-labelledby="heading15"><div class="card-block"> <p class="justify-text">SOLO si no tienes la licencia Federativa en Vigor. La federación pone da la opción de LICENCIA DE DÍA para el evento, que en caso de la EPIC RACE 300 será de 20 euros y en la EPIC RACE 200 de 10 euros.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading16" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16"><i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2">¿Qué hay en las estaciones de avituallamiento?</h6></a></div></div><div class="collapse" id="collapse16" role="tabpanel" aria-labelledby="heading16"><div class="card-block"><ul>En las estaciones de avituallamiento se dispondrá de:<li>Zona de aparcamientos</li><li>Zona de duchas</li><li>Avituallamiento sólido/líquido ( para los participantes)</li><li>Zona de masaje en estaciones por determinar</li><li>Zona de control de tiempos y punto de control</li></ul></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading17" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2">¿Es obligatorio el breafing de inicio de prueba?</h6></a></div></div><div class="collapse" id="collapse17" role="tabpanel" aria-labelledby="heading17"><div class="card-block"> <p class="justify-text">SI. Es obligatorio puesto que se dará información primordial para la prueba. La hora del breafing se informará a los participantes 15 días antes del evento.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading18" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2">¿Cómo se traslada los vehículos de punto de control a punto de control?</h6></a></div></div><div class="collapse" id="collapse18" role="tabpanel" aria-labelledby="heading18"><div class="card-block"><p class="justify-text">Cada equipo dispondrá de una hoja de ruta para poder ir a los diferentes puntos de control. En la zona de avituallamientos SOLO estacionarán los vehículos autorizados.</p></div></div><div class="card Rules-card mb-1"><div class="card-header Rules-header" id="heading19" role="tab"><a class="Rules-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19"> <i class="Rules-linkIcon d-inline fa fa-circle" aria-hidden="true"></i><h6 class="Rules-linkTitle d-inline ml-2">¿Es obligatorio recoger el trofeo si lo gano?</h6></a></div></div><div class="collapse" id="collapse19" role="tabpanel" aria-labelledby="heading19"><div class="card-block"> <p class="justify-text">SI. Es obligatorio. El Domingo a las 13:30 horas se entregarán los trofeos. En caso de que algún participante/equipo que merezca trofeo no hubiese entrado aun, se le dará en el momento de su entrada en meta.</p></div></div></div></div></div></div><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-4 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left"><h3 class="Turn-title">Epic Race</h3><a href="../epic"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Half Epic Race</h3><a href="../half"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--small"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Small Epic Race</h3><a href="../small"><button class="btn Button--turn" type="button">Más información</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-3 text-center offset-md-1"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.redondela.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/redondela.svg" alt="Redondela"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://www.ponteareas.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/ponteareas.svg" alt="Ponteareas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontecaldelas.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontecaldelas.svg" alt="Pontecaldelas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.viladecruces.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/viladecruces.svg" alt="Vila de Cruces"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.meis.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/meis.svg" alt="Meis"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>
