src/templates/pt/epic/etapa3.pug
doctype html
html(lang="es")
    title Etapa 3 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerPT.pug
        main(role="main")
            .carousel.slide#CarouselStage7(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage7" data-slide-to="0").active
                    li(data-target="#CarouselStage7" data-slide-to="1")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage7-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage7-item2
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage7" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage7" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next                    
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 3
                        h5.Stage-subtitle.mb-4 Vila de Cruces - Meis
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 77km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1700m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 2100m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify Las cumbres del Norte
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level3.jpg")
                        //- p.text-justify Abandonamos Vila de cruzes por estrada para a seguir começar a alternar caminhos de terra com outros asfaltados e assim chegar ao passo do rio Arnego, que se realiza por uma ponte de madeira.
                        //- p.text-justify Estamos no meio natural do Sobreiral de Arnego, um meio impressionante e o maior alcornocal de Galiza, que se integra no impressionante canhão que forma o rio Arnego em seu discurrir desde seu nascimento no Sur até sua desembocadura no Embalse de Portodemouros, nome que nos fala de antiquísimos mitos que constroem a cultura galega desde tempos inmemoriales.
                        //- p.text-justify Desde o rio começamos um periplo de contínuas subidas e baixadas sem excessiva inclinação e que levar-nos-ão para o sul entre caminhos agrícolas, pistas florestais e aldeias.
                        //- p.text-justify Chegamos assim à Fraga de Catasós, um espaço com alguns dos castaños mais altos e antigos de Europa, ao lado da que transitaremos para, a seguir, percorrer alguns caminhos em ascensão entre prados e aldeias.
                        //- p.text-justify Uma vez superada uma zona que alterna subidas e baixadas curtas, entramos no espaço natural da serra de Ou Candán, ao que chegamos em ligeiro descenso enquanto vislumbramos,ao fundo, a subida que nos espera a seguir, 6 quilómetros de ascensão com uma pendente média de 9% e quase sem descanso.
                        //- p.text-justify Chegamos assim à cume da Epic Race Pontevedra, desde este ponto circulamos pela crista da serra para o sul, chegando a tocar os Montes do Testeiro para, após cruzar o N-541, começar a descer alternando pistas florestais, caminhos tradicionais e alguma zona asfaltada.
                        //- p.text-justify Um último repecho por terreno muito rodador espera-nos dantes de enfrentar umas magníficas corredoiras tradicionais em descenso, chegando assim a Forcarei.
                        //- p.text-justify Este Povo, uma das duas cabeças do concello de Forcarei-Cotobade, encontra-se num balcón natural que conformam os rios Lérez e Do Castro e seus múltiplos regatos e rios tributários. Seus pintorescas aldeias de pedra pintam tons cinzas sobre uma tela verde que é vigiado pelas sierrasque conformam suas inumerablas montes e que, no entanto, não têm podido isolar a este lugar de nenhuma época da história.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-3-epic-race-2019-vila-de-cruces-meis-36715733") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa2.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa4.html'): button.btn.Button--stages Siguiente etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug

dist/es/epic/etapa3.html
<!DOCTYPE html><html lang="es"><title>Etapa 3 </title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 1 de diciembre de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="epicindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="epicequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="epicequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="epicequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-epic-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-epic-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button><a class="navbar-brand" href="index.html"><img src="../../assets/files/img/newlogo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">La Prueba</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categorias.html">Categorías</a><a class="dropdown-item" href="tarifas.html">Tarifas</a><a class="dropdown-item" href="puntos.html">Puntos de avituallamiento</a></div></li><li class="nav-item"><a class="disabled nav-link text-uppercase Header-link mx-2">Etapas</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participantes</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="faqs.html">Preguntas Frecuentes</a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="reglamento.html">Reglamento</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="multimedia.html">Multimedia</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="ropa-evento.html">Ropa Evento</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Globaldxt</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5);">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Amigas</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a><a class="dropdown-item" target="_blank" href="//www.power-race.es/pages/web/portada">Power Race León</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2020/inscripcion_datos/?iframe=1&amp;lang=es&amp;background=transparent" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit">Inscripción</button></a></div></nav><!-- Stages section--></header><main role="main"><div class="carousel slide" id="CarouselStage7" data-ride="carousel"><ol class="carousel-indicators"><li class="active" data-target="#CarouselStage7" data-slide-to="0"></li><li data-target="#CarouselStage7" data-slide-to="1"></li></ol><div class="carousel-inner CarouselStage1-inner" role="listbox"><div class="carousel-item CarouselStage1-item CarouselStage7-item1 active"></div><div class="carousel-item CarouselStage1-item CarouselStage7-item2"></div></div><a class="carousel-control-prev CarouselIndex-control--left" href="#CarouselStage7" role="button" data-slide="prev"><i class="fa fa-angle-left CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Previus</span></a><a class="carousel-control-next CarouselIndex-control--right" href="#CarouselStage7" role="button" data-slide="next"><i class="fa fa-angle-right CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Next                    </span></a></div><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-4 Stage"><h3 class="u-title mb-1">Etapa 3</h3><h5 class="Stage-subtitle mb-4">Mondariz - Mos</h5><div class="Stage-data rounded py-2 pl-1 pr-3 d-inline-block"><p class="mb-0 d-block">Distancia</p><span class="pl-2">63km</span><p class="mb-0 mt-2 d-block">Desnivel positivo acumulado</p><span class="pl-2">1450m</span><p class="mb-0 mt-2 d-block">Desnivel negativo acumulado</p><span class="pl-2">1300m</span></div></div><div class="col-sm-8"><h5 class="u-subtitle mb-2 text-justify">Por los Valles del sur</h5><img class="img-fluid mb-2 w-100" src="../../assets/files/img/level3epic.png"><p class="text-justify">Etapa con un primer tramo muy rápido en llano y una segunda parte con dos subidas importantes.</p><p class="text-justify">El ciclista debe saber gestionar las fuerzas en la primera parte reservándose, sobre todo, para el segundo ascenso.</p><p class="text-justify">Salimos hacia el Este primero y al sur después, siempre por los senderos que recorren el bosque de ribera del río Tea. En el Km 13,5 cruzamos el puente de Os Remedios, en Ponteareas, de origen romano y atravesamos el puente de nuevo, esta vez bajo uno de sus arcos, continuando 10Km por el margen del río, alternando tramos revirados con otros rectos y muy rápidos.</p><p class="text-justify">En el kilómetro 24 abandonamos la senda fluvial para enfrentar un tramo de 2 Km en ascenso por asfalto, entre pueblos. Comienza así el ataque al primer puerto de la etapa, 8,5Km de subida continua donde prima la pista forestal ancha, llegando así al alto de Padrán (380m). Hacia el sur, ante nuestros ojos, se extienden una sucesión de valles y multitud de suaves montañas delimitándolos, un paisaje inmenso y espectacular.</p><p class="text-justify">Luego de un rápido descenso faldeando O Castelo, enfrentamos un corto pero exigente ascenso de 1Km para coronar la segunda cumbre de esta sierra, el Alto da Chan do Pereiro (390m).</p><p class="text-justify">En el alto anterior, kilómetro 37, empezámos un rapidísimo descenso de algo más de 3 Km que nos lleva a la base del segundo puerto de la etapa, el ascenso a la sierra de O Galleiro, por pista forestal pero con algunas rampas que superan el 15% de inclinación. Sin llegar a coronar, en el kilómetro 49, alcanzamos la máxima cota de la etapa (460m). En este tamo faldeamos la sierra de O Galleiro, adquiriendo perspectivas de valles, bosques, montes y pueblos que salpican esta zona de la provincia de Pontevedra.</p><p class="text-justify">Un descenso de casi 9 kilómetros nos acerca al concello de Mos y a las últimas subidas de la etapa, que alternan asfalto y caminosde tierra.</p><p class="text-justify">Llegamos así al final, en Mos, importante concello que compatibiliza su elevada actividad industrial con extensísimas áreas de monte. Un lugar con abundantes restos arqueológicos que nos hablan de la importancia de este territorio desde épocas muy anteriores a la romanización.</p><div class="row"><div class="col-sm-6 text-left"><a href="etapa2.html"><button class="btn Button--stages">Etapa anterior</button></a></div><div class="col-sm-6 text-right"><a href="etapa4.html"><button class="btn Button--stages">Siguiente etapa</button></a></div></div></div></div></div><section class="IndexPromo py-5 mb-5"><div class="container"><div class="row align-items-center"><div class="col-sm-8"><div class="IndexPromo-text"><h3 class="IndexPromo-title mx-2">Únete al reto</h3><h4 class="IndexPromo-subtitle mx-2">Inscripciones abiertas a partir del 1 de diciembre de 2021</h4></div></div></div></div></section><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-4 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left"><h3 class="Turn-title">Epic Race</h3><a href="../epic"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Half Epic Race</h3><a href="../half"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--small"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Small Epic Race</h3><a href="../small"><button class="btn Button--turn" type="button">Más información</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-3 text-center offset-md-1"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.redondela.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/redondela.svg" alt="Redondela"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://www.ponteareas.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/ponteareas.svg" alt="Ponteareas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontecaldelas.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontecaldelas.svg" alt="Pontecaldelas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.viladecruces.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/viladecruces.svg" alt="Vila de Cruces"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.meis.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/meis.svg" alt="Meis"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>
