dist/es/epic/etapa5.html
<!DOCTYPE html><html lang="es"><title>Etapa 5 | Epic Race Pontevedra</title><head><meta charset="UTF-8"><link rel="stylesheet" href="../../assets/css/main.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="icon" type="image/png" href="../../assets/files/img/favicon.png"><link href="https://fonts.googleapis.com/css?family=Oswald:500,700|Work+Sans:400,700&display=swap" rel="stylesheet"> <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script></head><body><header class="Header"><!-- Inscription section--><div class="collapse Inscription py-4" id="Inscription"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><h5 class="u-title mb-0 text-justify">Únete al reto</h5><p>Inscripciones abiertas a partir del 1 de diciembre de 2021</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="epicindividual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="epicequipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="epicequipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="epicequipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><!-- Inscripted section--><div class="collapse Inscription py-4" id="Inscripted"><div class="container rounded py-4 align-items-center"><div class="row"><div class="col-sm-4"><p>Comprueba si tu inscripción fue tramitada correctamente</p></div><div class="col-sm-8"><div class="row"><div class="col-sm-6"><a href="inscritos-epic-individual.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race individual</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos2.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 2</button></a></div></div><div class="row"><div class="col-sm-6"><a href="inscritos-epic-equipos3.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 3</button></a></div><div class="col-sm-6"><a href="inscritos-epic-equipos4.html"><button class="mb-2 text-center btn Button--inscriptionLink">Epic Race Equipos 4</button></a></div></div></div></div></div></div><nav class="navbar navbar-toggleable-md px-4"><button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button><a class="navbar-brand" href="index.html"><img src="../../assets/files/img/newlogo.svg" width="80" alt="logo"></a><div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent"><ul class="navbar-nav"><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPrueba" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">La Prueba</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPrueba"><a class="dropdown-item" href="categorias.html">Categorías</a><a class="dropdown-item" href="tarifas.html">Tarifas</a><a class="dropdown-item" href="puntos.html">Puntos de avituallamiento</a></div></li><li class="nav-item"><a class="disabled nav-link text-uppercase Header-link mx-2">Etapas</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownParticipantes" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participantes</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownParticipantes"><a class="dropdown-item" href="faqs.html">Preguntas Frecuentes</a></div></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="reglamento.html">Reglamento</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="multimedia.html">Multimedia</a></li><li class="nav-item"><a class="nav-link text-uppercase Header-link mx-2" href="ropa-evento.html">Ropa Evento</a></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Globaldxt</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//pontevedra4picos.com">4 Picos Bike</a><a class="dropdown-item" target="_blank" href="//pontevedra4picosroad.com">4 Picos Road</a><a class="dropdown-item" target="_blank" href="//costaatlanticamtbtour.com">Costa Atlántica MTB Tour</a><a class="dropdown-item" href style="color: rgba(255,255,255,0.5);">BTTroita Pontecaldelas</a></div></li><li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-uppercase Header-link mx-2" id="navbarDropdownPatrocinadores" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pruebas Amigas</a><div class="dropdown-menu bg-inverse" aria-labelledby="navbarDropdownPatrocinadores"><a class="dropdown-item" target="_blank" href="//www.algarvebikechallenge.com/"> Algarve bike challenge</a><a class="dropdown-item" target="_blank" href="//www.mountainquest.pt">Mountainquest</a><a class="dropdown-item" target="_blank" href="//www.dourobikerace.com/es/dbr/">Douro Bike Race</a><a class="dropdown-item" target="_blank" href="//www.power-race.es/pages/web/portada">Power Race León</a></div></li></ul></div><div class="inscription-wrapper"><a class="color-link" href="https://eventos.emesports.es/inscripcion/epic-race-pontevedra-2020/inscripcion_datos/?iframe=1&amp;lang=es&amp;background=transparent" target="_blank"><button class="btn Button--inscription my-2 my-sm-0" type="submit">Inscripción</button></a></div></nav><!-- Stages section--></header><main role="main"><div class="carousel slide" id="CarouselStage1" data-ride="carousel"><ol class="carousel-indicators"><li class="active" data-target="#CarouselStage1" data-slide-to="0"></li><li data-target="#CarouselStage1" data-slide-to="1"></li><li data-target="#CarouselStage1" data-slide-to="2"></li></ol><div class="carousel-inner CarouselStage1-inner" role="listbox"><div class="carousel-item CarouselStage1-item CarouselStage1-item1 active"></div><div class="carousel-item CarouselStage1-item CarouselStage1-item2"></div><div class="carousel-item CarouselStage1-item CarouselStage1-item3"></div></div><a class="carousel-control-prev CarouselIndex-control--left" href="#CarouselStage1" role="button" data-slide="prev"><i class="fa fa-angle-left CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Previus</span></a><a class="carousel-control-next CarouselIndex-control--right" href="#CarouselStage1" role="button" data-slide="next"><i class="fa fa-angle-right CarouselIndex-icon" aria-hidden="true"></i><span class="sr-only">Next</span></a></div><div class="u-bgRed"></div><div class="container py-5"><div class="row"><div class="col-sm-4 Stage"><h3 class="u-title mb-1">Etapa 5</h3><h5 class="Stage-subtitle mb-4">Pontevedra - Moraña</h5><div class="Stage-data rounded py-2 pl-1 pr-3 d-inline-block"><p class="mb-0 d-block">Distancia</p><span class="pl-2">72km</span><p class="mb-0 mt-2 d-block">Desnivel positivo acumulado</p><span class="pl-2">1500m</span><p class="mb-0 mt-2 d-block">Desnivel negativo acumulado</p><span class="pl-2">1400m</span></div></div><div class="col-sm-8"><h5 class="u-subtitle mb-2 text-justify">Hacia las montañas interiores</h5><img class="img-fluid mb-2 w-100" src="../../assets/files/img/level5epic.png"><p class="text-justify">Esta es una etapa muy rodadora, en la que apenas hay tramos técnicos y que se caracteriza por los largos tramos de subida continua pero muy tendida.</p><p class="text-justify">Abandonamos Pontevedra, para enfrentar los primeros metros por el espectacular entorno de la ribera del río Lérez, uno de los múltiples regalos con los que la naturaleza regala a la ciudad de Pontevedra y a su ría.</p><p class="text-justify">En el Km 9, después de un pequeño enlace por asfalto, comenzamos el ascenso. Las primeras rampas son duras pero cortas y, poco a poco, se van suavizando, conduciéndonos hasta las faldas del Monte Coirego, alcanzando muy cerca del observatorio astronómico la cota máxima de la etapa (670m)</p><p class="text-justify">Desde el punto anterior comenzamos a descender combinando caminos, algún tramo de asfalto y sendas, aunque a mitad de este tramo debemos superar alguna de las típicas corredoiras tradicionales, con sus firmes empedrados que nos harán afinar la trazada para que la rueda trasera no patine. Pedaleamos, en este punto por bellísimas aldeas de la montaña pontevedresa, donde los gallegos, durante cientos de años, han dibujado pueblos y muros de piedra sobre un impresionamte tapiz verde.</p><p class="text-justify">Acabamos el descenso cruzando el río Lérez sobre un puente de origen romano y al que llegamos atravesando la magnífica aldea de Pedre, sorprendente por sus agrupaciones de hórreos y su magnífico estado de conservación. Un lugar mágico que nos traslada a épocas anteriores.</p><p class="text-justify">Después de cruzar el río, comenzamos de nuevo un ascenso tendido, primero por asfalto y luego por pista forestal ancha. A medida que vamos ganando cota, los horizontes se agrandan y nuestra vista se sorprende con multitud de valles y montañas desde los que llegamos a divisar las rías de Pontevedra y Arousa.</p><p class="text-justify">En el Km 57 alcanzamos la cima de nuevo, a 624m, comenzando un rapidísmo descenso por pista que nos acerca a las dos últimas colinas.</p><p class="text-justify">Finalmente llegamos por asfalto a la localidad de Moraña, que enclavada entre bosques tradicionales y regada por el río Umia y los cientos de regatos y ríos que proceden de sus montes, nos regala un entorno natural que hara las delicias de corredores y acompañantes.</p><div class="row"><div class="col-sm-6 text-left"><a href="etapa4.html"><button class="btn Button--stages">Etapa anterior</button></a></div><div class="col-sm-6 text-right"><a href="etapa6.html"><button class="btn Button--stages">Siguiente etapa</button></a></div></div></div></div></div><section class="IndexPromo py-5 mb-5"><div class="container"><div class="row align-items-center"><div class="col-sm-8"><div class="IndexPromo-text"><h3 class="IndexPromo-title mx-2">Únete al reto</h3><h4 class="IndexPromo-subtitle mx-2">Inscripciones abiertas a partir del 1 de diciembre de 2021</h4></div></div></div></div></section><section class="Turn pt-5"><div class="container-fluid"><div class="row"><div class="col-sm-4 Turn-bg Turn-bg--epic"><div class="Turn-caption Turn-caption--left"><h3 class="Turn-title">Epic Race</h3><a href="../epic"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--half"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Half Epic Race</h3><a href="../half"><button class="btn Button--turn" type="button">Más información</button></a></div></div><div class="col-sm-4 Turn-bg Turn-bg--small"><div class="Turn-caption Turn-caption--right"><h3 class="Turn-title">Small Epic Race</h3><a href="../small"><button class="btn Button--turn" type="button">Más información</button></a></div></div></div></div></section></main><footer class="Footer bg-inverse"><div class="Footer-primary py-5"><div class="container-fluid"><div class="row"><div class="col-md-3 Footer-address text-center"><h5 class="Footer-title mb-3">Contacto</h5><address><strong>Globaldxt S.L.</strong><p>c/ Echegaray 20, 5º A, 36002 Pontevedra</p><a class="d-inline-block mt-3 Footer-address-link" href="tel:0034693798053">T. 693 798 053</a><br><a class="d-inline-block Footer-address-link" href="mailto:">E. cimadevila@globaldxt.com</a><br><ul class="social-links list-unstyled list-inline"><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://twitter.com/global_dxt " target="'_blank'"><i class="fab fa-twitter"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.facebook.com/epicracepontevedra/" target="'_blank'"><i class="fab fa-facebook-f"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.youtube.com/channel/UCBdXO7X8ROw2XOmALnGCJ7Q" target="'_blank'"><i class="fab fa-youtube"></i></a></li><li class="list-inline-item p-2"><a class="Footer-address-link" href="https://www.instagram.com/globaldxt/" target="'_blank'"><i class="fab fa-instagram"></i></a></li></ul></address></div><div class="col-md-9"><div class="row mb-4"><div class="col-md-4"><h6 class="Footer-title">Organizador</h6><img class="img-fluid Footer-org" src="../../assets/files/img/globaldxt.png"></div><div class="col-md-8"><h6 class="Footer-title">Patrocinadores</h6><img class="img-fluid Footer-partner" src="../../assets/files/img/powerade.png"></div></div><div class="row"><div class="col-md-12"><h6 class="Footer-title">Colaboradores institucionales</h6></div><div class="col-md-3 text-center offset-md-1"><a href="http://www.depo.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/diputacion.svg" alt="Diputación"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontevedra.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontevedra.svg" alt="Pontevedra"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.redondela.es" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/redondela.svg" alt="Redondela"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="https://www.ponteareas.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/ponteareas.svg" alt="Ponteareas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.pontecaldelas.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/pontecaldelas.svg" alt="Pontecaldelas"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.morana.org" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/morana.svg" alt="Moraña"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.viladecruces.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/viladecruces.svg" alt="Vila de Cruces"></a></div><div class="col-sm-2 col-md-1 text-center col-shield"><a href="http://www.meis.gal" target="_blank"><img class="img-fluid Footer-shield" src="../../assets/files/img/meis.svg" alt="Meis"></a></div></div></div></div></div></div><div class="Footer-secondary m-0 py-2 text-center"><div class="container"><div class="row"><div class="col-sm-12"><small>© 2017 Copyright Globaldxt S.L.</small></div></div></div></div></footer></body></html>

src/templates/pt/epic/etapa5.pug
doctype html
html(lang="es")
    title Etapa 5 
    include ../../_includes/_head.pug
    body
        include ../../_includes/_headerPT.pug
        main(role="main")
            .carousel.slide#CarouselStage1(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#CarouselStage1" data-slide-to="0").active
                    li(data-target="#CarouselStage1" data-slide-to="1")
                    li(data-target="#CarouselStage1" data-slide-to="2")
                .carousel-inner.CarouselStage1-inner(role="listbox")
                    .carousel-item.CarouselStage1-item.CarouselStage1-item1.active
                    .carousel-item.CarouselStage1-item.CarouselStage1-item2
                    .carousel-item.CarouselStage1-item.CarouselStage1-item3
                a.carousel-control-prev.CarouselIndex-control--left(href="#CarouselStage1" role="button" data-slide="prev")
                    i.fa.fa-angle-left.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Previus
                a.carousel-control-next.CarouselIndex-control--right(href="#CarouselStage1" role="button" data-slide="next")
                    i.fa.fa-angle-right.CarouselIndex-icon(aria-hidden="true")
                    span.sr-only Next
            .u-bgRed
            .container.py-5: .row
                    .col-sm-4.Stage
                        h3.u-title.mb-1 Etapa 5
                        h5.Stage-subtitle.mb-4 Pontevedra - Ponte Caldelas
                        .Stage-data.rounded.py-2.pl-1.pr-3.d-inline-block
                            p.mb-0.d-block Distancia
                            span.pl-2 71km
                            p.mb-0.mt-2.d-block Desnivel positivo acumulado
                            span.pl-2 1950m
                            p.mb-0.mt-2.d-block Desnivel negativo acumulado
                            span.pl-2 1650m
                    .col-sm-8
                        h5.u-subtitle.mb-2.text-justify Hacia los bosques del interior
                        img.img-fluid.mb-2.w-100(src="../../assets/files/img/level5.jpg")
                        //- p.text-justify Abandonamos a cidade em seguida, já que, neste meio, natureza e urbe fundem-se, dotando à cidade da mordomia de ter o melhor dos dois mundos.
                        //- p.text-justify A primeira ascensão decorre por caminhos florestais e tradicionais para, a seguir, enfrentar uma série de subidas e baixadas durante os 22 km nos que percorremos a Serra de Domaio, passando pela lagoa de Castiñeiras, seu magnífico meio florestal e desfrutando umas magníficas panorámicas das Rias de Pontevedra e Vigo. Neste trecho atingiremos a cota máxima da etapa 522m.
                        //- p.text-justify No quilómetro 32 comenzámos um rápido descenso com uns quilómetros finais que serpentean por um estreito caminho, no que devemos afinar nossas dotes de piloto, procurando os peraltes e a traçada mais limpa.
                        //- p.text-justify Uma vez abaixo circunvalamos a ensenada de San Simón por caminhos muito rodadores, em cujo ecuador atravessaremos em cima da presa das antigas salinas, para continuar até Pontesampaio, atravessando essa população e a de Arcade por asfalto que, pouco a pouco, vamos alternando com largos caminhos de terra, procurando o último monte da etapa. Este nos recebe conunas rampas iniciais sem dificuldade técnica, mas exigentes por sua longitude e seu pendente que chega a rozar o 16%.
                        //- p.text-justify Com umas magníficas vistas sobre Redondela, povo que tem exercido de eixo de comunicação no sul da província ao longo da história, começamos o descenso para esta localidade, final desta quinta etapa etapa.
                        a.u-title.mb-1(href="https://es.wikiloc.com/rutas-mountain-bike/etapa-5-epic-race-2019-pontevedra-ponte-caldelas-36715990") Track
                        .row
                            .col-sm-6.text-left
                                a(href='etapa4.html'): button.btn.Button--stages Etapa anterior
                            .col-sm-6.text-right
                                a(href='etapa6.html'): button.btn.Button--stages Siguiente etapa
            include ../../_includes/_promo.pug
            include ../../_includes/_turn.pug
        include ../../_includes/_footer.pug
